<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd   
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd   
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">  
  
    <!-- Enable annotation driven controllers, validation etc... -->
   <mvc:annotation-driven/>

	 <context:component-scan base-package="com.invessence.web"/>
     <import resource="classpath*:/webServicesConfig.xml"/>
     <import resource="classpath*:/yodleeBeanConf.xml"/>
     <import resource="classpath*:/aggregatorConfig.xml"/>
   <bean id="configPropLoader" class="com.invessence.service.util.ServiceParameters">
      <constructor-arg>
      <list>
         <value type="java.lang.String">ALL</value>
      </list>
   </constructor-arg><!--ALL-->
   <constructor-arg type="java.lang.String" value=""/>
   <constructor-arg type="com.invessence.service.dao.ServiceDao" ref="wsCommonDao"/>
</bean>

<!--

-->
   <!--import
    resource for general business-->

    <import resource="util.xml"/>
    <import resource="properties.xml"/>
	<import resource="dataSource.xml"/>
    <import resource="dataLoadingSingletons.xml"/>
   	<import resource="messageSource.xml"/>

   <!--import resource for consumers business-->
   <import resource="allDAO.xml"/>
   <import resource="consumerDAO.xml"/>
   <import resource="LTAMDAO.xml"/>
   <!-- Common DAO-->
   <import resource="CommonBean.xml"/>

   <!-- Admin DAO-->
   <import resource="AdminBean.xml"/>

   <!-- Advisor DAO-->
   <import resource="AdvisorBean.xml"/>


</beans>