@charset "utf-8";
/* CSS Document */
/*------------------------------------------------------------
 * CUSTOM BACKGROUND STYLE BASED ON THEME OPTION PAGE CHOICES
 * ----------------------------------------------------------*/

.loginBtnInv {
	background: #0076C0!important;
	padding: 10px 50px;
	border: 0;
	color: white;
	font-size: 14px!important;
	letter-spacing: 1px;
}
.selectClientInv {
	padding: 10px;
	-webkit-filter: grayscale(1);
}

.selectClientInvSelected {
	-webkit-filter: grayscale(0)!important;
	border: 1px solid #013b4d!important;
	box-shadow: 1px 1px 3px grey;
}

/*Loader*/
.tcmLoaderBackground > div:nth-child(1) {
	pointer-events: none;
	position: fixed;
	/*background: rgba(0, 0, 0, 0.63);*/
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 9999999999999;
	padding: 1px 0;
}

.tcmLoaderBackground > div > img {
	height: 60px;
	width: 60px;
}

@media (max-width: 600px) {
	.tcmLoaderBackground > div > img {
		height: 40px;
		width: 40px;
	}
}
/**/

.ui-growl {
    position:fixed;
    top: 40% !important;
    left: 37% !important;
}

.ui-panel .ui-panel-footer {
  border-top: 0px !important;
  background-color: transparent !important
}

.AdvTabNBWidget, .NBwidget {
    border: 0px;
}


.invNBgrid {
    border: 0px;
    border-collapse: collapse;
    border-spacing: 1px !important;
    vertical-align: middle;
}

.FormContent tbody,
.invNBgrid tbody {
     border: 0px;
}

.FormContent tbody tr,
.invNBgrid tbody tr {
    border: 0px;
}

.FormContent tbody tr td,
.invNBgrid tbody tr td {
    border: 0px;
}

.FormContent tr,
.invNBgrid tr {
    border-width: 0px !important;
    vertical-align: middle !important;
}

.FormContent td,
.invNBgrid td {
    border-width: 0px !important;
}

.invNBgrid .ui-panelgrid-header {
    text-align: center;
    padding: 1px 12px;
}

.invNBgrid .ui-panelgrid-footer {
    text-align: left;
    padding: 1px 5px;
}


.inv-widget-header  {
    text-align: left;
}


.invNBtab {
   border: 1px solid #cfd449 !important;
}

.InvButtonTab {
    border: 0px !important;;
}

.inv-widget-header {
    border: none !important;
    font-weight: bold;
    text-align: left !important;
}

.invHeader {

}

.invLabel {
    text-align: left;
}

.invHeaderCenter {
    text-align: center;
    border: none !important;
    font-weight: bold;
    background-color: #FFFFFF !important;

}

.invHeaderLeft {
    text-align: right;
}

.invInput {
}

.invRequired {
    text-align: left;
    color: #FF0000;
}

.invImportant {
    font-weight: bold;
    text-align: left;
    color: #009abb;
}

.invWarning {
    font-weight: bold;
    text-align: left;
    color: #FF0000;
}

.invDisclaimer {
    font-size: .75em !important;
    text-align: left;
}

.invSelectOneMenu {	
}

.ui-selectonemenu-panel .ui-selectonemenu-items-wrapper {
	background-color: #f5f5f5 !important;
}

.rotateText90 {
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); /* IE 9 */
    -webkit-transform:rotate(90deg); /* Safari and Chrome */
}

.invDataTable {
    font-size: .75em !important;
}

.invAdminTable {
    font-size: .75em !important;
    border: 1px !important;
    font-family: Courier, Arial, sans-serif !important;
}

.invRiskQuestion {
    text-align: left;
    font-weight: bold;
}


/* JQPlot Chart Override */
table.jqplot-table-legend, table.jqplot-cursor-legend {
    background-color: transparent !important;;
    border: 0px !important;
    font-size: 1em !important;
}

/* Used on Logon window for message */
.entry-content ul {
    list-style-type: none !important;
    padding: 0 0 0px 0px !important;
}

.simpleInputText {
    background-color: transparent;
    border: 0px none;
    border-bottom: solid 1px #465b65;
    font-size: 24px;
    width: 140px;
    text-align: center;
}

.ul-vertical-align {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.ul-vertical-align li {
    display: inline;
    float: left;
}

.Fix80Spinner {
    width: 80px !important;
}

.Fix80Spinner .ui-inputfield 
{
    width: 80px !important;
}


/*Prakash - Advisor*/
@media (max-width: 550px) {
	.PenelFilter > .ui-selectonebutton > .ui-button > .ui-button-text {
	padding: 5px!important;
}

.layout-portlets-box {
    padding: 0;
    width: 100%;
}



/* .ListOfAccountsTable > .ui-datatable-tablewrapper > table > thead > tr > th > .ui-column-title {
	font-size: 12px;
}

.ListOfAccountsTable > .ui-datatable-tablewrapper > table > thead > tr > th > .ui-column-title, 
.ListOfAccountsTable > .ui-datatable-tablewrapper > table > tbody > tr > td {
	font-size: 11.5px;
}
.ListOfAccountsTable > .ui-datatable-tablewrapper > table > thead > tr > th > .ui-sortable-column-icon {
	margin-left:0px!important;
	background-size: 75%!important;
} */
}

@media (max-width: 400px) {
	.HeaderTableBlock > h2 {
    text-align: center;
    float: none;
}
	
	.PenelFilter {
	width: 100%;
    text-align: center;
    margin-top: 35px;
	}
}



/**/
/*Prakash*/


.textAlignLeft, .ui-chkbox-label, .textAlignLeft > span {
	text-align: left!important;
}

.autoComplteteField > input {
	font-size: 14px!important;
	width:100%!important;
}

.ui-messages-error-icon {
	margin-top: -4px!important;
}

.ListOfAccntsColWidth {
	width: 20%;
	text-align: left;
}

.ListOfAccntsColWidthBtn {
	width: 20%;
	text-align: center;
}

.HeaderTableBlock > h2{
	position: relative;
	top: 15px;
}

.HeaderTableBlock > .AdvisorFilter {
	/*text-align: center;*/
}

.StepsQuestionsFS {
	font-size: 15px!important;
	}

.selectOptionAlign {
	margin: 5px auto;
}

.num-text-align {
	text-align: right;
}

.ui-selectonemenu-label {
	font-size: 14px!important;
}

.TCM-UI-Dropdown > .ui-selectonemenu {
    margin-left: 10px;
}

.Wid32 {
	width: 32%;
}

.mobileFullWidth {
    display: inline-block;
}

.MarginBottom {
	margin-bottom: 15px;
}

.UsernameDashboard {
	padding: 9px 0;
}

@media (max-width: 360px) {
	.ResponsiveBtnFS > span {
	font-size: 11px!important;
	}
}

@media (min-width: 560px) and (max-width: 1075px) {
	.ListOfAccountsTable table tfoot tr td, .ListOfAccountsTable table thead tr th {
	    padding: 10px 0!important;
    font-size: 12px!important;
	}
	
	.ListOfAccountsTable table tbody tr td, .advisorButtons > div > div > div > .ui-button-text {
	font-size: 12px!important;
	}
	
	.ListOfAccountsTable table thead tr th .ui-sortable-column-icon {
	display: none!important;
	}
}

@media (min-width: 1200px) {
	.StepsQuestionsFSpg3 {
	margin-top: 10px!important;
	}
	
	.StepsQuestionsFSpg2 {
	margin: 130px 0!important;
	}
	
	.PieGraphPosition {
	margin: 10px 0!important;
	}
}

@media (max-width: 640px) {
	.DualBtnModeLeft, .DualBtnModeRight {
	width: 49%!important;
}
	
	.DualBtnModeLeft {
	float: left!important;
	}
	
	.DualBtnModeRight {
	float: right!important;
	}
	
	.ZeroPaddingBottom {
    padding-bottom: 0px!important;
}

.ZeroPaddingBottom > .ui-column-title {
    position: absolute;
}

.ZeroPaddingBottom > button {
    width: 100%;
}

.HideMobileMode {
	display:none!important;
}
}


@media (max-width: 960px) and (min-width: 640px) {
	.mobileFullWidth {
   /* display: inline;*/
}
	
	.UsernameDashboard {
	padding: 4px 0;
	}
	
	.UsernameDashboard > .Fright > h2 {
	font-size: 20px;
	}
	
	.TCM-UI-Dropdown {
    margin-left: 10px;
}
}

@media (max-width: 640px) and (min-width: 480px) {
	
	.StepsQuestionsFS {
	font-size: 15px!important;
	}
	
	
	
.ui-inputNum {
	padding: 7px 0px!important;
}

.ui-selectonemenu {
    margin-left: 0px;
}

.input_investwid1 > input {
	width: 20%!important;
}
	
.UsernameDashboard {
	padding: 5px 0;
	}
	
	.UsernameDashboard > .Fright > h2 {
	font-size: 16px;
	}
}

@media (max-width: 675px) and (min-width: 320px){
	.ui-selectonemenu-list-item {
	text-align: center!important;
	}
	
	.dropdownInputFullWidth > label {
	text-align: center!important;
	}
	
	.StepsQuestionsFS {
	font-size: 14px!important;
	    text-align: center;
	}
	
	.ui-selectonemenu {
    margin-left: 0px;
}
	
	.dropdownInputFullWidth {
    width: 100%!important;
    padding: 0px 0!important;
} 
	
	.mobileFullWidthinput {
	    width: 100%!important;
    padding: 10px 0!important;
	}
	
	.mobileFullWidthinput > input{
	    width: 100%!important;
    padding: 9px 0!important;
	}
	
.ui-inputNum {
	padding: 10px 0px!important;
}
	.mobileFullWidth {
	width:100%;
	    margin: 5px 0;
	}
	
.UsernameDashboard {
	padding: 5px 0;
	}
	
	.UsernameDashboard > .Fright > h2 {
	font-size: 16px;
	}	
}

@media (max-width: 640px) {
	.dashboardUsrColumnFloatRight {
	float: right;
}
}

@media (min-width:320px) and (max-width:500px) {
	.responsiveFullwidth {
	width: 100%!important;
	}
}

/*Fieldset DataTable Responsiveness*/
@media (min-width:320px) and (max-width:450px) {
	.ui-fieldset {
	padding: 0.6em 5px!important;
	}
}

/*Steps-tab-center-alligned
@media (max-width: 361px) and (min-width: 320px) {
	.tab_main > div {
	margin: 0 auto;
    width: 228px;
	}
	
	.tab_main {
	padding: 20px 0px 0px 0px!important;
	}
	
	a.ui-menuitem-link.ui-corner-all {
    background: #F6FAFC;
}
}

@media (max-width: 481px) and (min-width: 361px) {
	.tab_main > div {
	margin: 0 auto;
    width: 262px;
	}
	
	.tab_main {
	padding: 20px 0px 0px 0px!important;
	}
a.ui-menuitem-link.ui-corner-all {
    background: #F6FAFC;
}
}

@media (max-width: 561px) and (min-width: 481px) {
	.tab_main > div {
	margin: 0 auto;
    width: 274px;
	}
	
	.tab_main {
	padding: 20px 0px 0px 0px!important;
	}
}

@media (max-width: 640px) and (min-width: 561px) {
	.tab_main > div {
	margin: 0 auto;
    width: 366px;
	}
	
	.tab_main {
	padding: 20px 0px 0px 0px!important;
	}
	
	span.ui-steps-title {
    visibility: hidden;
}
}

@media (max-width: 729px) and (min-width: 641px) {
	.tab_main > div {
	margin: 0 auto;
    width: 426px;
	}
	
	.tab_main {
	padding: 20px 0px 0px 0px!important;
	}
	
	.ui-steps-title {
    visibility: hidden;
}
}

@media (max-width: 770px) and (min-width: 730px) {
	.tab_main > div {
	margin: 0 auto;
    width: 516px;
	}
	
	.tab_main {
	padding: 20px 0px 0px 0px!important;
	}
	.ui-steps-title {
    font-size: 12px!important;
}
}

@media (max-width: 960px) and (min-width: 771px) {
	.tab_main > div {
	margin: 0 auto;
    width: 546px;
	}
	
	.tab_main {
	padding: 20px 0px 0px 0px!important;
	}
}

@media (max-width: 999px) and (min-width: 961px) {
	.tab_main > div {
	margin: 0 auto;
    width: 666px;
	}
	
	.tab_main {
	padding: 20px 0px 0px 0px!important;
	}
}

@media (max-width: 1320px) and (min-width: 1000px) {
	.tab_main > div {
	margin: 0 auto;
    width: 636px;
	}
}

@media (min-width: 1321px) {
	.tab_main > div {
	margin: 0 auto;
    width: 846px;
	}
}
*/

/*Prakash - Advisor Page*/

/*Message*/

@media (max-width: 640px) {
	.advisorMsgTable > div > table > tbody > tr > td:nth-child(even) {
		background: #ffffff;
	}

	.advisorMsgTable > div > table > tbody > tr > td:nth-child(3) >table>tbody>tr>td {
		border: solid 1px #D9E3E8!important;
	}

	.mobileRightAdvMsg {
		text-align: right!important;
	}

}

@media (min-width: 641px) and (max-width: 900px) {
	.advisorMsgTable > div > table > thead > tr > th:nth-child(1) {
		width: 10%;
	}

	.advisorMsgTable > div > table > thead > tr > th:nth-child(2) {
		width: 30%;
	}
}

@media (min-width: 901px) and (max-width: 4000px) {
	.advisorMsgTable > div > table > thead > tr > th:nth-child(1) {
		width: 7%;
	}

	.advisorMsgTable > div > table > thead > tr > th:nth-child(2) {
		width: 20%;
	}
}

.advisorMsgTable > div > table > tbody > tr > td {
	background: #FFFFFF!important;
}

.advisorMsgTable > div > table > tbody > .ui-state-highlight > td {
	background-color: #FFFFFF!important;
	color: #778d9b!important;
}

.advisorMsgTable > div > table > tbody > .ui-state-highlight > td > table > tbody > tr > td,
.advisorMsgTable > div > table > tbody > .ui-state-hover > td > table > tbody > tr > td,
.advisorMsgTable > div > table > tbody > .ui-state-hover > td {
	background-color: #FFFFFF!important;
	color: #778d9b!important;
}


.msgAdvStatus, .msgAdvAcctName {
	margin: 5px 0px;
}
.msgAdvAcctName > div:nth-child(1) {
	float: left;
}

.msgAdvAcctName > div:nth-child(2) {
	float: right!important;
}

.msgAdvAcctName > div:nth-child(2) > div {
	text-align: right!important;
}

.messageContentAdvNotification {
	position: relative;
	top: 10px;
	margin-bottom: 15px;
	box-shadow: 1px 1px 3px rgba(128, 128, 128, 0.57);
}

.messageContentAdvNotification > tbody > tr >td {
	border: 0!important;
}

.messageContentAdvNotification > tbody > tr >td:nth-child(2) {
	border-left: 1px solid #d9e3e8!important;
	border-right: 1px solid #d9e3e8!important;
}

@media (max-width: 450px) {
	.messageContentAdvNotification > tbody > tr >td >div {
		text-align: center;
	}

	.messageContentAdvNotification > tbody > tr >td {
		display: block;
	}
}

/**/


.CommonBtnWidthCancel,.CommonBtnWidthSave {
	width: 100px!important;
}

.AdvUserName, .AdvVisitorStat {
	/*font-size : 18 px;*/
	margin: 8px 0 !important;
}

.PaddingTopBottomNone {
	padding-top: 0 !important;
	padding-top: 0 !important;
}

.MarginLeftRight {
	margin: 0px 10px;
}

.MarAuto {
	margin: 0 auto!important;
}

.Seperator {
	margin: 10px 0px !important;
}

.Marbottom {
	margin-bottom: 22px;
}

.MarginBottomStats {
	margin-bottom: 10px;
}

/**/

/*Advisor layout*/

.advisorMsgTable > div:nth-child(2) > table > tbody > .ui-state-hover > td,
.AdvisorGridtcmLayout > div:nth-child(2) > table > tbody > .ui-state-hover > td {
	background-color: inherit!important;
	color: inherit!important;
}

.advisorMsgTable > div:nth-child(2) > table > tbody > .ui-state-highlight > td,
.AdvisorGridtcmLayout > div:nth-child(2) > table > tbody > .ui-state-highlight > td,
.AdvisorGridtcmLayout > .ui-datatable-tablewrapper > table > tbody > .ui-state-highlight > td {
	background-color: #FFFFFF!important;
	color: #000000!important;
}



#layout-menu .ui-button.ui-state-hover .ui-button-text {
	background-color: #009abb;
}


.AdvisorGridtcmLayout {
	border-radius: 0;
	padding: 0!important;
	margin: 0!important;
	box-shadow: 1px 1px 3px rgba(128, 128, 128, 0.58);
	text-align: center;
}

.AdvisorGridtcmLayout > select {
	margin-top: 8px!important;
	border-radius:0!important;
}

.AdvisorGridtcmLayout > label:nth-child(1) {
	display: none;
}

.AdvisorGridtcmLayout > .ui-datatable-tablewrapper > table > thead > tr {
	border-bottom: 2px solid #bdbdbd;
}

.AdvisorGridtcmLayout > .ui-datatable-tablewrapper > table > tbody > tr {
	border-bottom: 1px solid #bdbdbd;
}

.AdvisorGridtcmLayout > .ui-datatable-tablewrapper > table > thead > tr > th:nth-child(1),
.AdvisorGridtcmLayout > .ui-datatable-tablewrapper > table > thead > tr > td:nth-child(1) {
	width: 50px;
}

.AdvtcmLayoutColumn {
	border: none!important;
	background:#ffffff!important;
	color: #000000!important;
	text-align: center;
}



.AdvtcmLayoutColumn > span:nth-child(1) {
	/*color: #000000!important;*/
	font-size: 12px;
}

thead > tr > .AdvtcmLayoutColumn > span:nth-child(2) {
	background-size: 85%!important;
	margin-left: 0px!important;
}

td, th {
	font-family: helvetica!important;
}

tbody > tr > .AdvtcmLayoutColumn > span:nth-child(2) {
	font-size: 13px;
}

.AdvtcmGridBtnRightR {
	border-radius: 0px 30px 30px 0px!important;
}

.AdvtcmGridBtnR, .DeleteButtonR, .DeleteButtonR > span {
	border-radius: 30px 30px 30px 30px!important;
}

.AdvtcmGridBtnRightR > span:nth-child(1) {
	font-size: 12px;
	width: 50px;
	padding: 5px 0px!important;
	border-radius: 0px 30px 30px 0px!important;
}

.AdvtcmGridBtnLeftR {
	border-radius: 30px 0px 0px 30px!important;
}

.AdvtcmGridBtnLeftR > span:nth-child(1) {
	font-size: 12px;
	width: 50px;
	padding: 5px 0px!important;
	border-radius: 30px 0px 0px 30px!important;
}

.AdvtcmGridBtnR > span:nth-child(1) {
	font-size: 12px;
	width: 50px;
	padding: 5px 0px!important;
	border-radius: 30px 30px 30px 30px!important;
}

.AdvBtnTcmGrp > div > span {
	border-radius: 30px!important;
	background: #f5f5f5!important;
	color: #607D8B;
	border: solid 2px #009abb;
	font-size: 13px;
}

.AdvNormalBtn > span {
	background: red!important;
	color: white;
	text-shadow: 0 1px rgba(0,0,0,0.1);
	border: solid 0px #b71c1c!important;
	background-image: -webkit-linear-gradient(top,red,#b71c1c)!important;
	border-radius: 30px!important;
	font-size: 13px;
}

.AdvNormalBtn {
	border-radius: 30px!important;
}

.AdvBtnTcmGrp > div {
	margin: 10px 5px!important;
}

.AdvBtnTcmGrp > .ui-state-hover > span {
	box-shadow: 1px 1px 3px rgba(128, 128, 128, 0.58);
	background: #f5f5f5!important;
	color:#607D8B;
}

.ForBtnNormal > .ui-state-hover > span,
.ForBtnNormal > .ui-state-active > span,
.ForBtnNormal > .ui-state-focus > span
{
	box-shadow: 1px 1px 3px rgba(128, 128, 128, 0.58);
}

.AdvBtnTcmGrp > .ui-state-active > span,
.AdvBtnTcmGrp > .ui-state-focus > span {
	box-shadow: 1px 1px 3px rgba(128, 128, 128, 0.58);
	background: #009abb!important;
	color:#f5f5f5;
}

.AdvBtnTcmGrp {
	margin:0px!important;
}

.AdvisorGridtcmLayout > .ui-datatable-tablewrapper > table > thead > tr > .ui-state-hover > span:nth-child(2) {
	background-image:url("/javax.faces.resource/images/updown-gray-arrow.svg.xhtml?ln=primefaces-spark")!important;
}

.aum_label {
	margin: 5px 5px;
	font-size: 14px;
	box-shadow: 1px 1px 3px rgba(128, 128, 128, 0.75);
	background: #f5f5f5;
	padding: 5px 20px;
	border-radius: 30px;
}

.multipleSelectionChkList {
	width:16px;
	text-align:center!important;
	background-color: #FFFFFF!important;
	border: 0!important;
	box-sizing: border-box;
}

@media (max-width: 640px) {
	.AdvtcmGridBtnLeftR > span:nth-child(1),
	.AdvtcmGridBtnRightR > span:nth-child(1),
	.AdvtcmGridBtnR > span:nth-child(1),
	.AdvtcmGridBtnR {
		width: 100%!important;
	}

	.multipleSelectionChkList {
		width:100%!important;
		background-color: #FFFFFF!important;
		display: block!important;
	}

	.multipleSelectionChkList > span:nth-child(1) {
		display: none!important;
	}
}

@media (max-width: 445px) {
	.AdvBtnTcmGrp > div > span,
	.filterMB > button > span:nth-child(2) {
		font-size: 11px;
	}
}

@media (max-width: 476px)  {
	.filterMBBlock {
		float: right!important;
	}

	.filterMB {
		margin-bottom: 0!important;
	}
}

.multipleSelectionChkList .ui-chkbox .ui-state-hover,
.multipleSelectionChkList .ui-chkbox .ui-state-active {
	border-color: #009abb!important;
}

.multipleSelectionChkList .ui-chkbox-box .ui-icon-check {
	background-color: #009abb!important;
}

.ui-paginator-top,
.ui-paginator-bottom,
.AdvisorGridtcmLayout .ui-datatable-footer,
.AdvisorGridtcmLayout .ui-datatable-header,
.advisorMsgTable .ui-datatable-header,
.advisorMsgTable .ui-datatable-footer {
	background: #FFFFFF!important;
}


.AdvisorGridtcmLayout .ui-datatable-header,
.advisorMsgTable .ui-datatable-header {
	position: absolute;
	display: none;
}

@media (max-width: 600px) and (min-width: 320px) {

	.AdvisorGridtcmLayout .ui-datatable-header,
	.advisorMsgTable .ui-datatable-header {
		position: inherit!important;
	}

	.centerAlign {
		text-align: center!important;
	}

	.ui-paginator-rpp-options {
		display: block;
		margin: 0 auto !important;

	}
}

@media (max-width: 815px) and (min-width: 641px) {
	.deleteAdvError {
		top: 70px!important;
	}
}

@media (max-width: 640px) {
	.deleteAdvError {
		top: 80px!important;
	}
}

.filterAdvLabel {
	margin: 0px 5px!important;
	font-size: 13px;
	font-weight: bold!important;
}

@media (max-width: 405px) {

	.MsgBtnsBlock {
		width: 70%!important;
	}

	.MsgBlockAdv {
		width: 30%!important;
	}

	.MsgBlockAdv > .BigTopic {
		font-size: 14px!important;
	}
}

thead > tr > .multipleSelectionChkList > .ui-chkbox > .ui-chkbox-box {
	position: relative;
	left: -4px;
}

.deleteAdvError {
	border: 0px;
	background: transparent;
	text-align: left;
	position: absolute;
	margin-top: -15px!important;
}

/**confirm_popup**/
.ui-confirm-dialog .ui-dialog-title {
	font-size: 12px!important;
}

.ui-confirm-dialog .ui-icon-alert {
	display:none!important;
}

.ui-confirm-dialog .ui-dialog-content {
	text-align: center!important;
}

.ui-confirm-dialog-message {
	font-size: 14px;
}

.ui-confirm-dialog .ui-dialog-footer {
	background: #fff!important;
	border-top: 0!important;
	padding: 0px 55px!important;
}

.ui-confirm-dialog .ui-button {
	border-radius: 30px!important;
}

.ui-confirm-dialog .ui-dialog-titlebar-close {
	margin-top: 2px!important;
}

.ui-confirm-dialog .ui-button-text
{
	background: whitesmoke!important;
	border-radius: 30px!important;
	font-size: 14px;
	font-size: 13px;
	color: #5f5d5d;
}


.ui-confirm-dialog .ui-state-hover .ui-button-text,
.ui-confirm-dialog .ui-state-focus .ui-button-text,
.ui-confirm-dialog .ui-state-active .ui-button-text
{
	background: #009abb!important;
	color: #FFFFFF;
	box-shadow: 1px 1px 3px rgba(128, 128, 128, 0.58);
}

.ui-confirm-dialog .ui-icon-check {
background-image: url("/javax.faces.resource/images/customblackicon.png.xhtml?ln=invessence")!important;
}

.ui-confirm-dialog .ui-icon-close {
	background-image: url("/javax.faces.resource/images/customblackicon.png.xhtml?ln=invessence")!important;
}


.ui-confirm-dialog .ui-state-hover .ui-icon-close, .ui-confirm-dialog .ui-state-focus .ui-icon-close {
	background-image: url("/javax.faces.resource/images/customwhiteicon.png.xhtml?ln=invessence")!important;
}

.ui-confirm-dialog .ui-state-hover .ui-icon-check, .ui-confirm-dialog .ui-state-focus .ui-icon-check {
	background-image: url("/javax.faces.resource/images/customwhiteicon.png.xhtml?ln=invessence")!important;
}

.editAdvButton {
	border-radius: 30px!important;
}
.editAdvButton > span {
	background-color: #2196F3!important;
	border-radius: 30px!important;
	padding: 5px 20px!important;
	font-size: 12px;
	text-shadow: 0 1px rgba(0,0,0,0.1);
}

.editAdvButtonIcon > span:nth-child(1) {
	color: #ffffff!important;
}

.editAdvButtonIcon > span:nth-child(2) {
	background-color: #2196F3!important;
	text-shadow: 0 1px rgba(0,0,0,0.1);
}
/***Tabs Customized**/

.AdvTabNBWidget > .ui-tabs-nav > li.ui-tabs-selected, .AdvTabNBWidget > .ui-tabs-nav > li.ui-tabs-active, .AdvTabNBWidget > .ui-tabs-nav > li.ui-state-hover {
	background-color: #009abb!important;
	border-radius: 2px 2px 0px 0px;
	z-index: 1;
}

.AdvTabNBWidget > .ui-tabs-nav > li.ui-tabs-selected::before, .AdvTabNBWidget > .ui-tabs-nav > li.ui-tabs-active::before, .AdvTabNBWidget > .ui-tabs-nav > li.ui-state-hover::before,
.AdvTabNBWidget .ui-tabs-nav li.ui-tabs-selected::after, .AdvTabNBWidget .ui-tabs-nav li.ui-tabs-active::after, .AdvTabNBWidget .ui-tabs-nav li.ui-state-hover::after {
	border-bottom:28px solid #009abb;
}

.AdvTabNBWidget > .ui-tabs-nav > li {
	margin: 0px 10px 1px 0px!important;
}

@media (min-width: 374px) and (max-width: 411px) {
	.AdvTabNBWidget > .ui-tabs-nav > li {
		margin: 0px 5px 1px 0px!important;
	}
}

@media (max-width: 373px) {
	.AdvTabNBWidget > .ui-tabs-nav > li {
		margin: 0px 2px 1px 0px!important;
	}
}

.AdvTabNBWidget > .ui-tabs-nav > li::before, .AdvTabNBWidget > .ui-tabs-nav > li::after {
	content: '';
	width: 0;
	height: 0;
	border-bottom:28px solid #5abdd2;
	transition: inherit;
	position: absolute;
}

@media (min-width: 366px) and (max-width: 600px) {
	.AdvTabNBWidget > .ui-tabs-nav > li::before, .AdvTabNBWidget > .ui-tabs-nav > li::after,
	.AdvTabNBWidget > .ui-tabs-nav > li.ui-tabs-selected::before, .AdvTabNBWidget > .ui-tabs-nav > li.ui-tabs-active::before, .AdvTabNBWidget > .ui-tabs-nav > li.ui-state-hover::before,
	.AdvTabNBWidget .ui-tabs-nav li.ui-tabs-selected::after, .AdvTabNBWidget .ui-tabs-nav li.ui-tabs-active::after, .AdvTabNBWidget .ui-tabs-nav li.ui-state-hover::after {
		border-bottom-width: 24px;
	}
}

@media (max-width: 365px) {
	.AdvTabNBWidget > .ui-tabs-nav > li::before, .AdvTabNBWidget > .ui-tabs-nav > li::after,
	.AdvTabNBWidget > .ui-tabs-nav > li.ui-tabs-selected::before, .AdvTabNBWidget > .ui-tabs-nav > li.ui-tabs-active::before, .AdvTabNBWidget > .ui-tabs-nav > li.ui-state-hover::before,
	.AdvTabNBWidget .ui-tabs-nav li.ui-tabs-selected::after, .AdvTabNBWidget .ui-tabs-nav li.ui-tabs-active::after, .AdvTabNBWidget .ui-tabs-nav li.ui-state-hover::after {
		border-bottom-width: 22px;
	}
}

.AdvTabNBWidget > .ui-tabs-nav > li {
	border-radius: 2px 2px 0px 0px;
	background-color: #5abdd2;
}

.AdvTabNBWidget > .ui-tabs-nav > li::before
{
	border-left: 7px solid transparent;
	left: -8px;
}

.AdvTabNBWidget > .ui-tabs-nav > li::after {
	border-right: 7px solid transparent;
	right: -8px;
	z-index: 1;
}

.AdvTabNBWidget > .ui-tabs-nav > li > a {
	padding: 4px 1em!important;
}

.AdvTabNBWidget > .ui-tabs-nav {
	padding: 0.2em 7px 0!important;
	border-bottom: 3px solid #009abb;
}

.advButton {
	border-radius: 30px!important;
	margin: 0px 5px;
}

@media (max-width: 366px) and (min-width: 320px) {
	.advButton {
		margin: 0px 0px;
	}
}

.advButton > span {
	border-radius: 30px!important;
	background: #f5f5f5!important;
	color: #607D8B;
	border: solid 2px #009abb;
	font-size: 13px;
}
/********************/

.AdvTabNBWidget {
	background-color: transparent!important;
}


.AdvisorGridtcmLayout.ui-datatable .ui-paginator .ui-paginator-rpp-options.ui-state-hover,
.AdvisorGridtcmLayout.ui-datatable .ui-paginator .ui-paginator-rpp-options.ui-state-focus,
.AdvisorGridtcmLayout.ui-datatable .ui-paginator .ui-paginator-rpp-options {
	color: #009abb!important;
	background: none!important;
	border-radius: 30px!important;
	border: 2px solid #009abb!important;
	font-family: helvetica!important;
	font-size: 14px!important;
}

.ui-datatable .ui-paginator .ui-paginator-first,
.ui-datatable .ui-paginator .ui-paginator-prev,
.ui-datatable .ui-paginator .ui-paginator-pages .ui-paginator-page,
.ui-datatable .ui-paginator .ui-paginator-next,
.ui-datatable .ui-paginator .ui-paginator-last,
.ui-datatable .ui-paginator .ui-paginator-rpp-options {
	border-radius: 0px!important;
	background-color: #009abb!important;
}


.multiSelectionDropdown {
	border-radius: 30px!important;
	border: 2px solid #009abb!important;
}

.multiSelectionDropdown > .ui-selectcheckboxmenu-label-container > label {
	border-radius: 30px;
	background: #f5f5f5;
	font-size: 13px;
	color: #6088b2;
	padding: 8px 10px 8px 15px!important;
	width: 80%;
}

.multiSelectionDropdown > .ui-selectcheckboxmenu-trigger {
	background: none;
	border-radius: 30px!important;
}

.multiSelectionDropdown > .ui-selectcheckboxmenu-trigger > span {
	background-image: url(/javax.faces.resource/images/down.png.xhtml?ln=tcm)!important;
	background-size: 80% 70%;
	margin-top: 7px!important;
}

.margintoptrade {
	margin-top: 19px;
}

.ui-selectcheckboxmenu-panel {
	border:0px!important;
}

.advisorMsgTable > label {
	display: none;
}

.advisorMsgTable {
text-align: center;
}

.advisorMsgTable > select {
	margin-top: 8px!important;
	border-radius: 0!important;
}

.advDashHeader {
    border-bottom: 1px solid #009abb;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.staticBlock {
    padding: 5px 5px;
        margin: 10px 10px;
            box-shadow: 1px 1px 4px #d6d2d2;
}

.countlabel {
	    border-top: 1px solid #009abb;
}

.countValue, .countlabel {
    padding: 5px 0px;
}

.BottomPos {
	position: relative;
	top:40px;
}

.menulabelscustomadv {
	    margin: 0 10px;
    font-size: 14px;
}


/**Asset**Workflow**/
.awBlock {
	height: 500px;
	box-shadow: 1px 1px 3px grey;
}

.wfMainBlock {
	padding: 0px 30px;
	position: relative;
	box-sizing: border-box;
	top: 70px;
}

.iconPanel {
	text-align: center;
	padding-top: 30px;
}

.iconCircle {
	width: 50px;
	height: 50px;
	margin: 0 auto;
	border: 2px solid black;
	border-radius: 50px;
	padding: 15px;
}

.iconPanel img {
	position: relative;
	top: 5px;
}

.titleLabelPanel {
	margin: 20px 15px;
}

.tLabel {
	border-bottom: 1px solid #d4d3d3;
	padding-bottom: 5px;
	font-weight: bold;
}

.titleContentPanel {
	padding: 20px 15px;
}

.tcLabel {
	font-size: 14px;
	line-height: 20px;
}

.contentSecond {
	margin: 20px 0px;
}

.awbtnBlock {
	margin: 20px 50px;
	position: absolute;
	bottom: 0px;
	right: 0px;
	left: 0px;
}

.awbtnBlock2 {
	margin: 20px 50px;
	position: absolute;
	bottom: 40px;
	right: 0px;
	left: 0px;
}

.awBtn {
	background: #009abb;
	text-align: center;
	font-size: 14px;
	padding: 0px 0px;
	color: #ffffff;
	letter-spacing: 1px;
	border-radius: 0px;
	box-shadow: 1px 1px 3px #c5c5c5;
}

.awBtn > span,
.awBtn.ui-state-hover > span,
.awBtn.ui-state-focus > span {
	background: #009abb!important;
	border-radius: 0px;
}


.awCloseBtn > span,
.awCloseBtn.ui-state-hover > span,
.awCloseBtn.ui-state-focus > span {
	background: red!important;
	border-radius: 0px;
}

.awCloseBtn {
	text-align: center;
	font-size: 14px;
	padding: 0px 0px;
	color: #ffffff;
	letter-spacing: 1px;
	border-radius: 0px;
	box-shadow: 1px 1px 3px #c5c5c5;
}


.awUploadInput > span{
	width: 100%!important;
	border-radius: 0px!important;
}

.awUploadInput > .ui-state-default .ui-button-text,
.awUploadInput > .ui-state-hover .ui-button-text,
.awUploadInput > .ui-state-focus .ui-button-text {
	border-radius: 0px!important;
	background: #009abb;
}

.awUploadInput .ui-fileupload-filename {
	font-size: 13px;
	list-style-position: inside;
	display: list-item;
}

.downloadList {
	background: #fbfbfb;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: 0 30px;
	z-index: 200;
}

.reviewBlock {
	position: absolute;
	background: #f7f7f7;
	top: 100px;
	bottom: 10px;
	left: 10px;
	right: 10px;
	z-index: 200;
}

.centerPanel {
	text-align: center;
}

.awbtnBlocklist {
	margin: 20px 20px;
	position: absolute;
	bottom: 0px;
	right: 0px;
	left: 0px;
	text-align: center;
}

.awbtnBlockRB {
	margin: 20px 30px;
	position: absolute;
	right: 0px;
	left: 0px;
	top: -70px;
}

#TvChatWidget {
	z-index: 169999999!important;
}



.confirmDialogueBlock .ui-icon-closethick {
display: none;
pointer-events: none;
}


.confirmDialogueBlock {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 200;
}


.innercdb {
	width: 400px!important;
	margin: 0 auto;
	padding: 20% 0%;
}