.et_pb_row { width: 1080px; margin: 0 auto; padding: 30px 0 0 0; position: relative; }
.et_pb_row_inner:nth-of-type(n+2) { padding-top: 30px; }
.et_pb_row.et_pb_row_empty, .et_pb_row_inner:nth-of-type(n+2).et_pb_row_empty { display: none; }


.et_pb_column { float: left; margin-right: 60px; }
.et_pb_column_4_4 { width: 100%; float: none; }
.et_pb_column_1_2 { width: 510px; }
.et_pb_column_1_3 { width: 320px; }
.et_pb_column_1_4 { width: 225px; }
.et_pb_column_2_3 { width: 700px; }
.et_pb_column_3_4 { width: 795px; }
.et_pb_column_3_8 { width: 367.5px; }
.et_pb_row .et_pb_column:last-child { margin-right: 0; }

.et_pb_text_align_left {
    text-align: left;
}
.et_pb_text {
    width: 100%;
    margin-bottom: 30px;
}

.nform.none {
    background-color: #fff;
    display: block;
}

#fe_title {
    border-top-left-radius: 4px;
    -moz-border-top-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-top-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    border-bottom: 1px solid #ddd;
    display: block;
}