/*
* Custom StyleSheet - Spark Theme
* Designed by Prakash
* Supported Browsers > Google Chrome 3+ , Mozilla Firefox 3+ , Safari 3+ , Opera 3+ , Yandex Browser , Inernet Explorer 9+
* Copyright 2016 - Invessence */

.ui-selectonemenu {
	    display: inline-flex;
	        border: 0!important;
    border-bottom: 1px solid #5FCF80!important;
}

.ui-selectonemenu-label {
	padding: 9px 10px!important;
	background: #F6FAFC;
	font-size: 16px!important;
}

.ui-inputNum {
	border-radius: 3px;
	padding: 7px 0px;
}

.ui-inputtext {
	border-bottom: 1px solid #5FCF80!important;
}

.ui-inputfield {
	font-size: 18px!important;
}

#mobile-menu-button:hover {
	color:#F1F6F9!important;
}

#layout-topbar-menu {
	margin-top:16px!important;
}

#mobile-menu-button, #mobile-menu-button-gray {
	margin-top: 21px!important;
}

@media (max-width: 640px) and (min-width: 480px) {
	#mobile-menu-button, #mobile-menu-button-gray {
	margin-top: 6px!important;
}
	}
	
@media (max-width: 480px) and (min-width: 320px){
#mobile-menu-button, #mobile-menu-button-gray {
    margin-top: 7px!important;
    height: auto!important;
	padding: 6px 8px!important;
}
}
