<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>        
  <session-factory>
    <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="show_sql">true</property>  
    <property name="hbm2ddl.auto">update</property>
   		
<!--     <mapping class="com.invessence.yodlee.model.User"/> -->
    <!--  <mapping class="com.invessence.yodlee.model.UserRegistration"/>
    <mapping class="com.invessence.yodlee.model.SiteDetails"/>
    <mapping class="com.invessence.yodlee.model.ItemDetails"/>
    <mapping class="com.invessence.yodlee.model.AccountDetails"/>
    <mapping class="com.invessence.yodlee.model.BankDetails"/>
    <mapping class="com.invessence.yodlee.model.InvestmentDetails"/>
    <mapping class="com.invessence.yodlee.model.LoanDetails"/>
    <mapping class="com.invessence.yodlee.model.CardDetails"/> -->
    
    	<mapping class="com.invessence.yodlee.model.ItemDetail" />
		<mapping class="com.invessence.yodlee.model.InvestmentHolding" />
		<mapping class="com.invessence.yodlee.model.InvestmentTransaction" />
		<mapping class="com.invessence.yodlee.model.ConsolidateData" />
		<mapping class="com.invessence.yodlee.model.InvestmentDetail" />
		<mapping class="com.invessence.yodlee.model.AccountDetail" />
		<mapping class="com.invessence.yodlee.model.CardStatement" />
		<mapping class="com.invessence.yodlee.model.CardTransaction" />
		<mapping class="com.invessence.yodlee.model.UserLogon" />
		<mapping class="com.invessence.yodlee.model.LoanDetail" />
		<mapping class="com.invessence.yodlee.model.CardDetail" />
		<mapping class="com.invessence.yodlee.model.LoanTransaction" />
		<mapping class="com.invessence.yodlee.model.BankTransaction" />
		<mapping class="com.invessence.yodlee.model.BankDetail" />
		<mapping class="com.invessence.yodlee.model.LoanHolding" />
		<mapping class="com.invessence.yodlee.model.SiteDetail" />
  </session-factory>
</hibernate-configuration>