<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Application Submitted</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<![endif]-->
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>

<body style="margin:0;padding:0; font-family:'Open Sans', sans-serif;">
<div class="container100" style="width:100%;">
    <div class="container100 header" style="width:100%;background:#808285;">
        <div class="logo" style="text-align:center;padding:10px 0;">
            <a href="http://uwealth.com.sg">
                <img src="http://uat.invessence.com:8080/javax.faces.resource/images/logo/UtradeLogo.png.xhtml?ln=invessence&v=1_5"  alt="UOB Kay Hian" style="width:30%;" ></a>
        </div>
    </div>
    <div class="container100 mainContent" style="width:100%;">
        <h1 class="title" style="text-align:center; color:#851819;">
            Account Application Submitted
        </h1>
        <div class="contentDtl" style="width:45%;margin:10px auto;">
            <h3>Dear <strong>~FULL_NAME~</strong></h3>
            <p style="line-height: 1.8;margin-top:30px;">Thank you for applying for a UTRADE Robo account.  Your application is currently being processed.
                <br/>
                You will receive a notification from us once your account application has been approved.</p>

            <p style="line-height: 1.8;margin-top:30px;text-align:center;">
                <span style="background:#851819; border:none;padding:10px 15px;border-radius:5px;"><a style="color:#fff; font-size:16px; text-decoration:none;" href="~CUSTOM_LINK~">Activate</a></span>
            </p>
        </div>
    </div>
    <div class="container100 footer" style="width:100%;background:#808285;text-align:center;padding:10px 0;color:#fff;">
        <p style="line-height: 1.8;margin-top:30px;"> If you have any query, please contact our Client Services hotline at +65 6536 9338   </p>
        <p style="line-height: 1.8;margin-top:30px;">or you can send an email to  <a style="color:#851819;" href="mailto:contact@utrade.com.sg">contact@utrade.com.sg.</a></p>
    </div>

</div>
</body>
</html>