/*
* Custom Layout by Clients
* Designed by Prashant
* Supported Browsers > Google Chrome 3+ , Mozilla Firefox 3+ , Safari 3+ , Opera 3+ , Yandex Browser , Inernet Explorer 9+
* Copyright 2016 - Invessence */

/* Logo*/
#logo2 {
    height: 70px;
    margin-top: 4px;
}

#logo {
    height: 70px;
    margin-top: 4px;
}

@media (min-width: 960px) {
    #logo {
        /*margin-bottom : 25px;*/
    }
}

img.riskImage {
    height: 190px;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

img.riskImage:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

/* Gray Theme*/
.layoutBG.Geometry {
    background-image: url("#{resource['tcm:images/triangle-gray.svg']}");
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
}

.layoutBG {
    background-image: none;
}

.layoutBG #layout-topbar {
    background-color: #37474F;
}

.invInputText {
    background-color: transparent;
    border: 0px none;
    border-bottom: solid 1px #465b65;
    font-size: 24px;
    text-align: center;
}

.invInputText input {
    background-color: transparent;
    border: 0px none;
    /*border-bottom: solid 1px #465b65;*/
    font-size: 24px;
    text-align: center;
}

/*
.ui-widget input {
    background-color: transparent !important;
    border: 0px none !important;
    border-bottom: solid 1px #465b65 !important;
    font-size: 24px !important;
    text-align: center !important;
}
*/

.page5table {
    border-spacing: 0px;
}

.page5table tr {
    border-spacing: 0px;
}

.page5table td {
    border-spacing: 0px;
}

.topLayer {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    background-color: #eceff1;
    border-bottom: solid 2px #e0e0e0;
}

/**removeFaccount**/
.ui-steps .ui-state-highlight .ui-steps-number {
    background-color: #00006A !important;
}

.ui-steps .ui-steps-title {
    width: 100px !important
}

.ui-steps .ui-state-disabled .ui-steps-number {
    background-color: #00D404 !important;
}

/*Prakash - Advisor Page*/
.AdvUserName, .AdvVisitorStat {
// font-size : 18 px;
    margin: 8px 0 !important;
}

.PaddingTopBottomNone {
    padding-top: 0 !important;
    padding-top: 0 !important;
}

.MarginLeftRight {
    margin: 0px 10px;
}

.MarAuto {
    margin: 0 auto;
}

.Seperator {
    margin: 10px 0px !important;
}

.Marbottom {
    margin-bottom: 22px;
}

.MarginBottomStats {
    margin-bottom: 10px;
}

/**/

/*Prakash: Fund Account - Component responsive*/
@media (min-width: 1201px) and (max-width: 1339px) {
.Margin-FAAddress {
	margin: 0  31px!important;
}
}

@media (min-width: 635px) and (max-width: 890px) {
.Margin-FAAddress {
	margin: 0  23px!important;
}
}

@media (max-width: 750px) and (min-width: 635px) {
    .CustomWidthFA {
        width: 29% !important;
    }
}

@media (max-width: 634px) {
    .CustomWidthFA {
        width: 100% !important;
        margin: 5px 0;
        border-radius: 3px !important;
        border: solid 1px #C6D6DF !important;
    }


.CustomWidthFA2 {
	width: 100%!important;
}

.CustomWidthAccountypePanel {
	width: 100%!important;
	margin: 5px 0;
}

.CustomWidthFA-Responsive, .CustomWidthAddressFA {
	width: 100%!important;
	margin: 5px 0;
	float: none!important;
}

.Margin-FAAddress {
	margin: 5px 0!important;
}
}

@media (min-width:367px) and (max-width: 600px) {
	.ui-tabs-top .ui-tabs-nav li a {
	font-size: 12px;
	}

	.accordionTabText {
	font-size: 15px;
	}

	.ui-tabs .ui-tabs-panel {
    padding-left:0px;
    padding-right: 20px;
	}

	.FSResponsiveFA {
	font-size: 13px;
	}
}

@media (min-width:320px) and (max-width: 366px) {
	.ui-tabs-top .ui-tabs-nav li a {
	font-size: 10px;
	}

	.FSResponsiveFA {
	font-size: 13px;
	}
	.accordionTabText {
	font-size: 13px;
	}
	.ui-tabs .ui-tabs-panel {
    padding-left:0px;
    padding-right: 20px;
	}
}

@media (min-width: 320px) and (max-width: 480px) {
.tcmPanel-UI > .ui-panel-content {
    margin-top: 0px!important;
}
}

/**/

/*Prakash*/
.beneficiaryAdd > .fa {
	font-size: 22px!important;
	padding: 0 3px;
}
.beneficiaryAdd > .labelBAB
{
position: relative;
    top: -3px;
}

.FundAccountDropdownUI {
padding-right: 0!important;
}

.FundAccountDropdownUI > .ui-selectonemenu-label {
	width: 90%!important;
	    font-size: 14px!important;
    padding: 8px 8px!important;
}

.ResponsiveWid-tcmUI {
	width: 100%;
}

.poorImage, .averageImage {
    height: 40px;
}

.PerformanceMeterBlock {
    margin: 95px 0px;
}

.GraphPanel {
    background: transparent;
    border: 0;
}

.InlineCitizenRadioBtn {
    display: -webkit-inline-box;
    display: -moz-inline-box;
}

.Margin-FAAddress {
    margin: 0 35px;
}

.Fright-FAAddress {
    float: right !important;
}

.CustomWidthAddressFA {
    width: 40%;
}

.ui-accordion-content {
    overflow: hidden !important;
}

.CustomWidthFA {
    width: 30%;
}

.Container45 {
    width: 45%;
}

.ui-selectoneradio > tbody > tr >td {
    border: 0 !important;
}

.paddingFA {
    padding: 0 5px;
}

.tcmAccordion
Panel-UI > div {
    overflow: hidden !important;
}

.tcm-graphType {
    font-size: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.14);
// border-radius : 20px 0 0 20px;
    padding: 5px 0px;
    position: relative;
    right: 8px;
    top: 5px;
}

@media (max-width: 960px) {
    .tcm-graphType {
        font-size: 16px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.14);
    // border-radius : 20px 20px 20px 20px;
        padding: 5px 0px;
        position: relative;
        top: 5px;
        left: 0px;
    }
}

/*DropDown For Portfolio creation*/
.TCM-UI-Dropdown > .ui-selectonemenu-trigger, .TCM-UI-Dropdown {
	background: transparent!important;
}

.ui-selectonemenu-panel {
    border-top: solid 3px #005A37 !important;
    border-bottom: solid 3px #005A37 !important;
}

.ui-selectonemenu-panel .ui-selectonemenu-list-item {
    border: 0px none !important;
    background: white;
    text-align: left;
    color: rgba(0, 90, 55, 0.84);
}

.ui-selectonemenu-items > .ui-state-hover {
    background: #56E0AC !important;
    color: white;
}

.dropdownInputFullWidth > .ui-selectonemenu-trigger > .ui-icon-triangle-1-s{
background: url("/javax.faces.resource/images/dropdown.png.xhtml?ln=tcm")!important;
    background-repeat: no-repeat;
    background-size: 100% 100% !important;
}

/**/

/*Fund Account changes*/

.tcmPanel-UI {
    border-radius: 0px;
    border-top: 4px solid #05AF6C;
}

.ui-color {
    color: #778D9B;
}

.FontNormal {
    font-weight: normal;
}

.textAlign {
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
}

.FundAccountStepsPanel > ul > li > a > span.ui-steps-title {
    visibility: hidden;
}

.tcmAccordionPanel-UI > div > div > ul > li >a {
    font-weight: normal !important;
    color: #8F9D9D !important;
}

.FundAccountStepsPanel {
    width: 846px;
    padding-top: 20px;
    margin: 0px auto;
    min-height: 1px !important;
}

.FundAccountStepsPanel > ul >.ui-state-default {
    background-color: #80D0B2 !important
}

.FundAccountStepsPanel > ul >.ui-state-default > a > .ui-steps-number {
    background-color: #A6A6A6 !important;
}

.FundAccountStepsPanel > ul > .ui-state-highlight {
    position: relative;
    top: -2px;
    background: #EDD9C0 !important;
    border-radius: 0px !important;
}

.FundAccountStepsPanel > ul > .ui-state-highlight > a {
    margin-top: -1px !important;
    position: relative;
    top: -3px;
}

.FundAccountStepsPanel > ul > li > .ui-menuitem-link {
    margin-top: -6px;
}

.FundAccountStepsPanel > ul > li > a > .ui-steps-number {
    border-radius: 20px !important;
    width: 20px !important;
    background: #EDD9C0 !important;
}

.FundAccountStepsPanel > ul > .ui-state-highlight, .FundAccountStepsPanel > ul > li > a > .ui-steps-number {
    background-color: #0BA769 !important;
}

.FundAccountStepsPanel > ul > li > a >.ui-steps-title {
    font-size: 13px;
}

.UI-nextButtonFA {
    height: 40px;
    width: 90px;
    background: url("/javax.faces.resource/images/nextbtn.png.xhtml?ln=tcm");
    background-size: 45% 100%;
    background-repeat: no-repeat;
    background-position-x: 30px;
    cursor: pointer;
    color: #5FCF80 !important;
    line-height: 39px;
    font-size: 14px;
    letter-spacing: 1px;
    text-decoration: none;
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
}

.UI-prevButtonFA {
    height: 40px;
    width: 32px;
    background: url("/javax.faces.resource/images/prevbtn.png.xhtml?ln=tcm");
    background-size: 70% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    color: #5FCF80 !important;
    line-height: 39px;
    font-size: 14px;
    letter-spacing: 1px;
    text-decoration: none;
    padding-left: 27px;
}

.ui-icon-triangle-1-e {
	background: url("/javax.faces.resource/images/downaccordion.png.xhtml?ln=tcm")!important;
	background-size: 100%!important;
}

.ui-icon-triangle-1-s {
    background: url("/javax.faces.resource/images/upaccordion.png.xhtml?ln=tcm") !important;
    background-size: 110% !important;
}

.ui-accordion-header {
    margin-top: 20px !important;
}

.accordionTabText {
    text-transform: uppercase;
    position: relative;
    top: -7px;
    left: 10px;
}

.ui-accordion-header > img {
    height: 35px !important;

}

.ui-accordion-header {
    background-color: #005936 !important;
    text-transform: uppercase !important;
}

tcmAccordionPanel-UI > .ui-accordion .ui-state-hover, .ui-accordion .ui-state-active {
    background-color: #05AF6C !important;
    color: #FFFFFF !important;
}

.ui-tabs-top .ui-tabs-nav {
    background: #8F9D9D !important;
}

.ui-accordion .ui-accordion-header .ui-icon {
    right: 0.5em !important;
    left: initial;
}

.ui-accordion-content {
    margin-bottom: 15px !important;
    border-bottom: 1px solid #49B669 !important;
}

.MarCenter {
    margin: 0 auto;
    float: none;
}

.Mar5 {
    margin-left: 0 !important;
    margin: 0 15px;
}

.InputMergeRight {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-right: 0px solid transparent;
}

.InputMergeLeft {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-left: 1px solid #D9E19B;
}

.FS14 {
    font-size: 14px !important;
}

.ui-tabs {
    border: 0 !important;
}

.tcmAccordionPanel-UI {
    border: 1px !important;
    background: transparent !important;
}

.ui-accordion-header {
    padding: 10px 15px !important;
    font-size: 20px !important;
}

/*****************************************/
.MarginSpaceP3 {
    margin: 20px 0;
}

.BlockErrorIncluded > .ui-message-error {
    width: 30%;
    margin: 10px auto !important;
    text-align: center;
}

.UI-nextButton {
    height: 40px;
    width: 60px;
    background: url("/javax.faces.resource/images/tcmnext.png.xhtml?ln=tcm");
    background-size: 60% 100%;
    background-repeat: no-repeat;
    background-position-x: 30px;
    background-position: right;
    cursor: pointer;
    color: #0BA769 !important;
    line-height: 39px;
    font-size: 14px;
    letter-spacing: 1px;
    text-decoration: none;
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
}

.UI-nextButtonPg1 {
    /* float: right; */
    height: 40px;
    width: 60px;
    background: url("/javax.faces.resource/images/tcmnext.png.xhtml?ln=tcm");
    background-repeat: no-repeat;
    cursor: pointer;
    color: #0BA769 !important;
    line-height: 39px;
    font-size: 14px;
    letter-spacing: 1px;
    text-decoration: none;
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    padding: 6px 15px;
    background-position-x: 45px;
    background-position: right;
    background-size: 40% 100%;
    margin: 0 auto !important;

}

.UI-prevButton {
    height: 40px;
    width: 60px;
    background: url("/javax.faces.resource/images/tcmprev.png.xhtml?ln=tcm");
    background-size: 43% 100%;
    background-repeat: no-repeat;
    /* background-position-x: 30px; */
    cursor: pointer;
    color: #0BA769 !important;
    line-height: 39px;
    font-size: 14px;
    letter-spacing: 1px;
    text-decoration: none;
    padding-left: 27px;
}

body {
    background-image: none !important;
    height: 100vh;
    background: linear-gradient(141deg, rgba(0, 93, 56, 0.78) 0%, rgba(0, 89, 55, 0.87) 51%, rgba(0, 66, 40, 0.95) 75%) !important;
}

.ui-message-error {
    margin: 0 !important;
}

.ui-message-error-detail {
    font-size: 12px !important;
}

.ui-selectoneradio label {
    font-size: 14px !important;
}

.UI-tcmButton > .ui-button-text {
    padding: 8px 33px !important;
}

#layout-topbar {
    min-height: auto !important;
}

.UI-tcm {
    background: white !important;
    border: none !important;
    border-radius: 45px !important;
    box-shadow: 0px 0px 6px rgba(82, 80, 80, 0.15) !important;
}

.TCM-UI-Dropdown > .ui-selectonemenu-label {
	background: #ffffff!important;
}

.BackgroundWhite {
    background: white;
    padding-bottom: 15px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
// padding : 15 px;
}

/*fundAccountRemove*/
.portfolioCreationStepsPanel > ul > li > a.ui-menuitem-link.ui-corner-all {
    background: transparent !important;
}

.portfolioCreationStepsPanel > ul > li > a > span.ui-steps-title {
    padding-top: 12px;
    font-size: 13px;
}

.portfolioCreationStepsPanel > ul > .ui-steps-item {
    background-color: #0BA769 !important;
}

.portfolioCreationStepsPanel > ul > li > a > span.ui-steps-number {
    display: none !important;
    visibility: hidden;
}

/*******fa-remove***/
.formFS {
    font-size: 16px !important;
}

* {
    font-family: 'ralewayregular';
}

h3 {
    font-weight: normal;
}

.ResponsiveMarginTop {
    margin-top: 10px;
}

@media (min-width: 320px) and (max-width: 950px) {
    .Responsive100-tcmUI {
        width: 100% !important;
    }

    .ResponsiveWid-tcmUI {
        width: 50% !important;
    }

    .Fright-MP {
        float: right;
    }

    .Fleft-MP {
        float: left;
    }

    .PerformanceVerticalSpacing {
        display: none;
    }

    .PerformanceMeterBlock {
        margin: 5px 0px;
    }
}

@media (max-width: 360px) and (min-width: 320px) {
    img.riskImage {
        height: 114px !important;
    }
}

@media (max-width: 470px) and (min-width: 361px) {
    img.riskImage {
        height: 137px !important;
    }
}

@media (max-width: 630px) and (min-width: 471px) {
    img.riskImage {
        height: 199px !important;
    }
}

@media (min-width: 631px) {
    img.riskImage {
        height: 275px !important;
    }
}

@media (max-width: 480px) {
    .ResponsiveMarginTop {
        margin-top: 35px;
    }
}

@media (max-width: 1200px) {
    .MarginTopRes {
        margin-top: 10px;
    }
}

/*Steps-tab-center-alligned*/
@media (max-width: 361px) and (min-width: 320px) {
    .portfolioCreationStepsPanel .portfolioCreationStepsPanel > ul > .ui-steps-item {
        padding: 0 10px !important;
    }

    .tab_main > div {
        margin: 0 auto;
        width: 189px;
    }

    .tab_main {
        padding: 20px 0px 0px 0px !important;
    }

    .portfolioCreationStepsPanel > ul > li > a.ui-menuitem-link.ui-corner-all {
        background: #F6FAFC;
        width: 20px;
    }
}

@media (max-width: 481px) and (min-width: 361px) {
    .portfolioCreationStepsPanel .portfolioCreationStepsPanel > ul > .ui-steps-item {
        padding: 0 11px !important;
    }

    .tab_main > div {
        margin: 0 auto;
        width: 217px;
    }

    .tab_main {
        padding: 20px 0px 0px 0px !important;
    }

    .portfolioCreationStepsPanel > ul > li > a.ui-menuitem-link.ui-corner-all {
        background: #F6FAFC;
        width: 22px;
    }
}

@media (max-width: 560px) and (min-width: 481px) {
    .portfolioCreationStepsPanel .portfolioCreationStepsPanel > ul > .ui-steps-item {
        padding: 0 12px;
    }

    .tab_main > div {
        margin: 0 auto;
        width: 227px;
    }

    .portfolioCreationStepsPanel > ul > li > a.ui-menuitem-link.ui-corner-all {
        width: 24px;
    }

    .tab_main {
        padding: 20px 0px 0px 0px !important;
    }
}

@media (max-width: 640px) and (min-width: 561px) {
    .tab_main > div {
        margin: 0 auto;
        width: 305px;
    }

    .tab_main {
        padding: 20px 0px 0px 0px !important;
    }

    .portfolioCreationStepsPanel > ul > li > a > span.ui-steps-title {
        visibility: hidden;
    }
}

@media (max-width: 729px) and (min-width: 641px) {
    .tab_main > div {
        margin: 0 auto;
        width: 355px;
    }

    .tab_main {
        padding: 20px 0px 0px 0px !important;
    }

    .portfolioCreationStepsPanel > ul > li > a > span.ui-steps-title {
        visibility: hidden;
    }
}

@media (max-width: 770px) and (min-width: 730px) {
    .tab_main > div {
        margin: 0 auto;
        width: 430px;
    }

    .tab_main {
        padding: 20px 0px 0px 0px !important;
    }

    .portfolioCreationStepsPanel > ul > li > a > span.ui-steps-title {
        font-size: 12px !important;
    }
}

@media (max-width: 960px) and (min-width: 771px) {
    .tab_main > div {
        margin: 0 auto;
        width: 455px;
    }

    .portfolioCreationStepsPanel > ul > li > a.ui-menuitem-link.ui-corner-all {
        width: 70px;
    }

    .tab_main {
        padding: 20px 0px 0px 0px !important;
    }
}

@media (max-width: 999px) and (min-width: 961px) {
    .tab_main > div {
        margin: 0 auto;
        width: 555px;
    }

    .tab_main {
        padding: 20px 0px 0px 0px !important;
    }
}

@media (max-width: 1320px) and (min-width: 1000px) {
    .tab_main > div {
        margin: 0 auto;
        width: 530px;
    }
}

@media (min-width: 1321px) {
    .tab_main > div {
        margin: 0 auto;
        width: 705px;
    }
}

/**/
/**/

/*Steps-tab-center-alligned (Fund Account)*/
@media (max-width: 361px) and (min-width: 320px) {
	.FundAccountStepsPanel .FundAccountStepsPanel > ul > .ui-steps-item {
    padding: 0 10px!important;
	}

	.FundAccountTab > div {
	margin: 0 auto;
    width: 252px;
	}

	.FundAccountStepsPanel > ul > .ui-state-highlight {
    position: relative;
     top: 0;
    background: none!important;
    border-radius: none!important;
}
	.FundAccountStepsPanel > ul > .ui-state-highlight > a {
    margin-top: 0px!important;
    top: -5px;
}


	.FundAccountStepsPanel > ul > li > a > .ui-steps-number {
    border-radius: 20px!important;
    width: 11px!important;
	}

	.FundAccountTab {
	padding: 20px 0px 0px 0px!important;
	}

	.FundAccountStepsPanel > ul > li > a.ui-menuitem-link.ui-corner-all {
    background: #F6FAFC;
}
}

@media (max-width: 481px) and (min-width: 361px) {
	.FundAccountStepsPanel .FundAccountStepsPanel > ul > .ui-steps-item {
    padding: 0 11px!important;
	}

	.FundAccountTab > div {
	margin: 0 auto;
    width: 300px;
	}

	.FundAccountStepsPanel > ul > li > a > .ui-steps-number {
    border-radius: 20px!important;
    width: 15px!important;
	}

	.FundAccountStepsPanel > ul > .ui-state-highlight {
    position: relative;
     top: 0;
    background: none!important;
    border-radius: none!important;
}
	.FundAccountStepsPanel > ul > .ui-state-highlight > a {
    margin-top: 0px!important;
    top: -5px;
}

	.FundAccountTab {
	padding: 20px 0px 0px 0px!important;
	}
.FundAccountStepsPanel > ul > li > a.ui-menuitem-link.ui-corner-all {
    background: #F6FAFC;
}
}

@media (max-width: 560px) and (min-width: 481px) {
	.FundAccountStepsPanel .FundAccountStepsPanel > ul > .ui-steps-item {
    padding: 0 12px;
}

	.FundAccountTab > div {
	margin: 0 auto;
    width: 330px;
	}

	.FundAccountTab {
	padding: 20px 0px 0px 0px!important;
	}
}

@media (max-width: 640px) and (min-width: 561px) {
	.FundAccountTab > div {
	margin: 0 auto;
    width: 366px;
	}

	.FundAccountTab {
	padding: 20px 0px 0px 0px!important;
	}

	.FundAccountStepsPanel > ul > li > a > span.ui-steps-title {
    visibility: hidden;
}
}

@media (max-width: 729px) and (min-width: 641px) {
	.FundAccountTab > div {
	margin: 0 auto;
    width: 426px;
	}

	.FundAccountTab {
	padding: 20px 0px 0px 0px!important;
	}

	.FundAccountStepsPanel > ul > li > a > span.ui-steps-title {
    visibility: hidden;
}
}

@media (max-width: 770px) and (min-width: 730px) {
	.FundAccountTab > div {
	margin: 0 auto;
    width: 516px;
	}

	.FundAccountTab {
	padding: 20px 0px 0px 0px!important;
	}
	.portfolioCreationStepsPanel > ul > li > a > span.ui-steps-title  {
    font-size: 12px!important;
}
}

@media (max-width: 960px) and (min-width: 771px) {
	.FundAccountTab > div {
	margin: 0 auto;
    width: 546px;
	}

	.FundAccountTab {
	padding: 20px 0px 0px 0px!important;
	}
}

@media (max-width: 999px) and (min-width: 961px) {
	.FundAccountTab > div {
	margin: 0 auto;
    width: 666px;
	}

	.FundAccountTab {
	padding: 20px 0px 0px 0px!important;
	}
}

@media (max-width: 1320px) and (min-width: 1000px) {
	.FundAccountTab > div {
	margin: 0 auto;
    width: 636px;
	}
}

@media (min-width: 1321px) {
	.FundAccountTab > div {
	margin: 0 auto;
    width: 846px;
	}
}

/**/

/*vivek CSS */

.tab_main {padding:0 100px; padding-top:20px;}
.top_desk {
    margin-top:-290px;
    float: right;
}
.tp1 {margin-top:20px;}
.pg5_h1 {height: 40px;}
.page4_left {margin-left:40px; border: 0px;}
.selection tr {
    float: left;
    width: 20%;
}


.f1 {
    font-size: 18px;
}

/* MEDIA QUERIES **************************************************************************************************************** */
/* Huge desktop */

/*vivek CSS */
/* Large desktop */
@media (min-width: 960px) and (max-width: 1300px) {
    #logo {
        height: 70px;
    // margin-top : 4 px; /**/
    }

    #logo2 {
        height: 70px;
    // margin-top : 4 px; /**/
    }

    .ui-steps .ui-steps-title {
        width: 70px !important
    }

    /*vivek CSS */
    .tab_main {
        padding: 0 15px;
        padding-top: 20px;
    }

    .input_namewid1 {
        width: 140px;
    }

    .input_agewid1 {
        width: 60px;
    }

    .input_investwid1 {
        width: 100px;
    }

    .title1 {
        font-size: 1.5em;
    }

    .top_desk {
        margin-top: 10px;
        float: none;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 730px) and (max-width: 960px) {
    #logo {
        height: 70px;
    // margin-top : 6 px;
    }

    #logo2 {
        height: 70px;
    // margin-top : 6 px;
    }

    /*vivek CSS */
    .tab_main {
        padding: 0 40px;
        padding-top: 20px;
    }

    .input_namewid1 {
        width: 140px;
    }

    .input_agewid1 {
        width: 60px;
    }

    .input_investwid1 {
        width: 100px;
    }

    .title1 {
        font-size: 1.5em;
    }

    .ui-steps .ui-steps-title {
        width: 50px !important
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 640px) and (max-width: 730px) {
    #logo {
        height: 70px;
    // margin-top : 4 px; /**/
    }

    #logo2 {
        height: 70px;
    // margin-top : 4 px; /**/
    }

    .ui-steps .ui-steps-title {
        width: 30px !important
    }

    /*vivek CSS */
    .tab_main {
        padding: 0 40px;
        padding-top: 20px;
    }

    .input_namewid1 {
        width: 100px;
    }

    .input_agewid1 {
        width: 60px;
    }

    .input_investwid1 {
        width: 100px;
    }

    .title1 {
        font-size: 1.5em;
    }

    .top_desk {
        margin-top: 10px;
        float: none;
    }

    .page4_left {
        margin-left: 10px;
        border: 0px;
    }
}

/* Landscape phone to portrait tablet */
@media (min-width: 480px) and (max-width: 640px) {
    #logo {
        height: 40px;
    // margin-top : 11 px;
    }

    #logo2 {
        height: 40px;
    // margin-top : 11 px;
    }

    /**/
    .ui-steps .ui-steps-title {
        width: 20px !important
    }

    /*vivek CSS */        /*vivek CSS */
    .tab_main {
        padding: 0 45px;
        padding-top: 20px;
    }

    h1 {
        font-size: 1em;
    }

    h1 > input {
        font-size: 1em;
    }

    .input_namewid1 {
        width: 90px;
    }

    .input_agewid1 {
        width: 60px;
    }

    .input_investwid1 {
        width: 100px;
    }

    .title1 {
        font-size: 1.2em;
    }

    .top_desk {
        margin-top: 10px;
        float: none;
    }

    .ui-outputlabel {
        font-size: 12px;
    }

    .jqplot-xaxis-tick {
        -ms-transform: rotate(-30deg); /* IE 9 */
        -webkit-transform: rotate(-30deg); /* Chrome, Safari, Opera */
        transform: rotate(-30deg);
        font-size: 12px;
        margin-left: 0px;

        margin-top: 15px;
    }

    .tp1 {
        margin-top: 15px;
    }

    .selection {
        margin-left: 0px;
    }

    .selection tr {
        float: left;
        width: 50%;
    }
}

/* Portrait phones and down */
@media (min-width: 220px) and (max-width: 480px) {
    #logo {
        height: 40px;
    // margin-top : 6 px;
    }

    #logo2 {
        height: 40px;
    // margin-top : 6 px;
    }

    .ui-steps .ui-steps-title {
        display: none;

    }

    .invInputText {
        background-color: transparent;
        border: 0px none;
        border-bottom: solid 1px #465b65;
        font-size: 14px;
        text-align: center;
    }

    .invInputText input {
        font-size: 14px;
    }

}

@media (max-width:920px) {
    .PaddingblocktradeP > div > div > div {
        padding: 0 10px;
    }

    .ThankyBlockMain {
        width: 100% !important;
    }
}

@media (min-width:200px) and (max-width: 360px) {
    .InputWidthP {
        width: 100% !important;
        margin: 5px 0;
    }

    .CenterAlignP, .AddressBlockAlign {
        text-align: center !important;
        float: none;
    }
}

@media (min-width:360px) and (max-width: 480px) {
    .mobileFullWidth {
        width: 100%;
        margin: 5px 0;
    }

    .InputWidthP {
        width: 100% !important;
        margin: 5px 0;
    }

    .CenterAlignP, .AddressBlockAlign {
        text-align: center !important;
        float: none;
    }

    /*vivek CSS */
    .tab_main {
        /*margin: 0 34px;*/
        padding-top: 15px;
    }

    .ui-steps .ui-steps-item .ui-steps-number {
        font-size: 16px;
    }

    h1 {
        font-size: 1em;
    }

    h1 > input {
        font-size: 1.5em;
    }

    .input_namewid1 {
        width: 100px;
    }

    .input_agewid1 {
        width: 60px;
    }

    .input_investwid1 {
        width: 100px;
    }

    .ShowOnMobile {
        height: 5px;
    }

    .title1 {
        font-size: 1.2em;
    }

    .top_desk {
        margin-top: 10px;
        float: none;
    }

    .ui-panel .ui-panel-content {
        margin-top: -15px;
    }

    .ui-messages-error, .ui-message-error {
        font-size: 13px;
    }

    .ui-messages-info, .ui-messages-warn, .ui-messages-error, .ui-messages-fatal {
        margin-top: 5px;
        margin-bottom: 0px;
    }

    .jqplot-xaxis-tick {
        -ms-transform: rotate(-40deg); /* IE 9 */
        -webkit-transform: rotate(-40deg); /* Chrome, Safari, Opera */
        transform: rotate(-40deg);
        font-size: 11px;
        margin-left: -20px;

        margin-top: 18px;
    }

    .Fs24 {
        font-size: 16px !important;
    }

    .tp1 {
        margin-top: 10px;
    }

    .startover {
        width: 145px;
    }

    .investnow {
        width: 145px;
    }

    .btn_left {
        margin-left: -20px;
    }

    .btn_rite {
        margin-right: -20px;
    }

    .ui-outputlabel {
        font-size: 12px;
    }

    .pg5_h1 {
        height: 30px;
    }

    .tp2 {
        margin-top: 5px;
    }

    .label {
        font-size: 12px;
    }

    .selection {
        margin-left: 0px;
    }

    .selection tr {
        float: left;
        width: 50%;

    }

    .ui-selectoneradio label {
        font-size: 13px;
    }

    .f1 {
        font-size: 16px;
    }

}

@media (min-width: 1000px) and (max-width: 1320px) {
    .ui-steps.ui-steps-readonly .ui-steps-item .ui-menuitem-link {
        width: 85px;
    }
}

@media (min-width: 730px) and (max-width: 770px) {
    .ui-steps.ui-steps-readonly .ui-steps-item .ui-menuitem-link {
        width: 65px;
    }
}

@media (min-width:300px) and (max-width: 360px) {
    /*vivek CSS */
    .tab_main {
        padding: 0 20px;
        padding-top: 15px;
    }

    .ui-steps .ui-steps-item .ui-steps-number {
        font-size: 13px;
    }

    .ui-steps .ui-steps-item .ui-menuitem-link {
        height: 8px;
        padding: 0px 8px !important;
    }

    .input_namewid1 {
        width: 100px;
    }

    .input_agewid1 {
        width: 60px;
    }

    .input_investwid1 {
        width: 100px;
    }

    .ltamInputText {
        font-size: 12px;
    }

    .ShowOnMobile {
        height: 5px;
    }

    .ui-selectoneradio label {
        font-size: 0.6em;
    }

    h1 {
        font-size: 1em;
    }

    h1 > input {
        font-size: 1.5em;
    }

    .title1 {
        font-size: 1.2em;
    }

    .EmptyBox_v {
        height: 10px;
    }

    .ui-panel .ui-panel-content {
        margin-top: -15px;
    }

    .ui-messages-error, .ui-message-error {
        font-size: 12px;
    }

    .top_desk {
        margin-top: 10px;
        float: none;
    }

    .jqplot-xaxis-tick {
        -ms-transform: rotate(-40deg); /* IE 9 */
        -webkit-transform: rotate(-40deg); /* Chrome, Safari, Opera */
        transform: rotate(-40deg);
        font-size: 11px;
        margin-left: -30px;

        margin-top: 18px;
    }

    .tp1 {
        margin-top: 10px;
    }

    .Fs24 {
        font-size: 16px !important;
    }

    .btn_left {
        margin-left: -25px;
    }

    .btn_rite {
        margin-right: -25px;
    }

    .startover {
        width: 30px;
    }

    .investnow {
        width: 100px;
    }

    .ui-outputlabel {
        font-size: 12px;
    }

    .pg5_h1 {
        height: 30px;
    }

    .tp2 {
        margin-top: 5px;
    }

    label {
        font-size: 12px;
    }

    .selection {
        margin-left: 0px;
    }

    .selection tr {
        float: left;
        width: 100%;

    }

    .ui-selectoneradio label {
        font-size: 13px;
    }

    .f1 {
        font-size: 13px;
    }

    .investnow {
        width: 140px;
    }

}

@media (min-width:200px) and (max-width: 320px) {
    /*vivek CSS */
    .tab_main {
        padding: 0 15px;
        padding-top: 15px;
    }

    .ui-steps .ui-steps-item .ui-steps-number {
        font-size: 11px;
    }

    h1 {
        font-size: 1em;
    }

    .input_namewid1 {
        width: 100px;
        height: 20px;
    }

    .input_agewid1 {
        width: 60px;
    }

    .input_investwid1 {
        width: 100px;
    }

    .ltamInputText {
        font-size: 14px;
    }

    .EmptyBox30 {
        height: 15px;
    }

    .ShowOnMobile {
        height: 5px;
    }

    .title1 {
        font-size: 1.2em;
    }

    .EmptyBox_v {
        height: 10px;
    }

    .ui-panel .ui-panel-content {
        margin-top: -15px;
    }

    .ui-messages-error, .ui-message-error {
        font-size: 12px;
    }

    .top_desk {
        margin-top: 10px;
        float: none;
    }

    .tp1 {
        margin-top: 10px;
    }

    .Fs24 {
        font-size: 16px !important;
    }

    .btn_left {
        margin-left: -30px;
    }

    .btn_rite {
        margin-right: -30px;
    }

    .startover {
        width: 75px;
    }

    .investnow {
        width: 75px;
    }

    .tp2 {
        margin-top: 5px;
    }

    label {
        font-size: 12px;
    }

    .f1 {
        font-size: 14px;
    }

    .investnow {
        width: 140px;
    }

    .tbl1 {
        font-size: 12px;
    }

}
