@charset "utf-8";

/*---------------------------- Media based StyleSheet ---------------------------------------*/

@media screen and ( min-width: 600px ) {

    .testPanel {
        width:100%;
        padding: 5px 5px 5px 5px;
        border : 0px;
        height: 90px;
        background: #90c1d2 url("#{resource['primefaces-advisor:images/ui-bg_highlight-hard_30_90c1d2_1x100.png']}") 10% 500% repeat-x;
    }

    .testPanelPart1 {
        float:left;
        width: 45%;
    }

    .testPanelPart2 {
        float:left;
        width: 45%;
    }

    .testPanelPart3 {
        float:left;
        width: 7%;
    }

    .testThreeEqPart {
        float:left;
        width: 32%;
        padding: 2px;
    }

    .testImageArea {
        float:left;
        border:none;
        width: 10%;
        padding: 1px;
    }

    .testAgeArea {
        float:left;
        border:none;
        width: 25%;
        padding: 1px;
    }

    .testIncomeArea {
        float:left;
        border:none;
        width: 60%;
        padding: 1px;
    }

    .testCommand {
        float:left;
        border:none;
        padding-right: 1px;
    }

    .testTop {
        float:left;
        border:none;
        margin:1px;
        width: 100%;
        text-align: center;
    }

    .testBottom {
        float:left;
        border:none;
        margin:1px;
        width: 100%;
        text-align: center;
    }

    .testDataArea {
        width: 100%;
        height: 450px;
        float: left;
        margin: 0px;

    }

    .testGraphArea {
        width: 35%;
        float: left;
        margin: 0px;
        padding-right: 5px;
    }

    .testDetailArea {
        width: 60%;
        float: left;
    }

}
