<p>&nbsp;</p>
<!-- [if IE]><html xmlns="http://www.w3.org/1999/xhtml" class="ie"><![endif]-->
<p>&nbsp;</p>
<!-- [if !IE]><!--><!--<![endif]--><!-- [if !mso]><!--><!--<![endif]--><!-- [if !mso]><!--><!--<![endif]--><!-- [if mso]>
<body class="mso">
<![endif]-->
<p>&nbsp;</p>
<!-- [if !mso]><!--><!--<![endif]-->
<div class="wrapper" lang="x-wrapper">
    <div class="preheader">
        <div class="preheader__inner--inline"><!-- [if (mso)|(IE)]><table align="center" class="preheader" cellpadding="0" cellspacing="0"><tr><td style="width: 280px" valign="top"><![endif]-->
            <div class="snippet">&nbsp;</div>
            <!-- [if (mso)|(IE)]></td><td style="width: 280px" valign="top"><![endif]-->
            <div class="webversion">&nbsp;</div>
            <!-- [if (mso)|(IE)]></td></tr></table><![endif]--></div>
    </div>
    <div id="emb-email-header-container" class="header header--padded--inline"><!-- [if (mso)|(IE)]><table align="center" class="header" cellpadding="0" cellspacing="0"><tr><td style="width: 600px"><![endif]-->
        <div class="logo emb-logo-margin-box" style="margin-top: 0px; margin-bottom: 0px;" align="center">
            <div id="emb-email-header" class="logo-center" style="font-size: 0px !important; line-height: 0 !important;" align="center"><a title="Building Benjamins" href="https://www.buildingbenjamins.com"><img style="max-width: 337px;" src="i/BuildingBenjamins-reverse.png" alt="Building Benjamins" width="337" /></a></div>
        </div>
        <!-- [if (mso)|(IE)]></td></tr></table><![endif]--></div>
    <div class="full-width--inline" style="background-color: #ffffff;">
        <div class="layout one-col layout--inherit-padding--inline">
            <div class="layout__inner" lang="x-layout__inner"><!-- [if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0"><tr class="layout-full-width" style="background-color: #ffffff;"><td class="layout__edges">&nbsp;</td><td style="width: 600px" class="w560"><![endif]-->
                <div class="column">
                    <div class="column__padding--inline">
                        <div style="line-height: 20px; font-size: 1px;">&nbsp;</div>
                    </div>
                    <div class="column__padding--inline">
                        <h1 style="text-align: center;">Reset Password</h1>
                    </div>
                    <div class="column__padding--inline">
                        <div style="line-height: 15px; font-size: 1px;">&nbsp;</div>
                    </div>
                    <div class="column__padding--inline">
                        <p style="text-align: left;">A request was received to change your password.</p>
                        <p style="text-align: left;">For your security, we have locked this account. Please follow the prompts to create a new password. Once you have your new password, you may use it to access your account and your old password will be permanently disabled.</p>
                        <p style="text-align: left;">Please store your User ID and Password in a safe place &ndash; and remember, neither Building Benjamins nor any of its affiliates will ever ask you to share your password with us.</p>
                        <p style="text-align: left;"><em>If you have any questions, please contact us at&nbsp;<a href="mailto:support@buildingbenjamins.com">support@buildingbenjamins.com</a></em></p>

                    </div>
                </div>
                <!-- [if (mso)|(IE)]></td><td class="layout__edges">&nbsp;</td></tr></table><![endif]--></div>
            <div class="column__padding--inline">
                <div class="btn btn--flat btn--large" style="text-align: center;">
                    <a cs-button href="~CUSTOM_LINK~"
                       style="background-color: #046744; font-family: Merriweather, Georgia, serif; border-radius: 4px; padding: 10px 15px; text-decoration: none; color: white;">Reset Password</a>
                </div>
            </div>

        </div>
    </div>
    <div class="layout__separator--inline" style="line-height: 30px; font-size: 30px;">&nbsp;</div>
    <div class="layout sidebar--inline email-footer">
        <div class="layout__inner" lang="x-layout__inner"><!-- [if (mso)|(IE)]><table align="center" cellpadding="0" cellspacing="0"><tr class="layout-email-footer"><td style="width: 400px;" valign="top" class="w360"><![endif]-->
            <div class="column wide">
                <div class="column__padding--inline">
                    <table class="email-footer__links emb-web-links">
                        <tbody>
                        <tr>
                            <td class="emb-web-links" style="width: 26px;"><a href="https://www.facebook.com/buildingbenjamins"><img src="http://buildingbenjamins.com/images/facebook.png" alt="" width="26" height="26" /></a></td>
                            <td class="emb-web-links" style="width: 26px;"><a href="https://twitter.com/BldngBenjamins"><img src="http://buildingbenjamins.com/images/twitter.png" alt="" width="26" height="26" /></a></td>
                            <td class="emb-web-links" style="width: 26px;"><a href="https://www.linkedin.com/company/building-benjamins"><img src="http://buildingbenjamins.com/images/linkedin.png" alt="" width="26" height="26" /></a></td>
                            <td class="emb-web-links" style="width: 26px;"><a href="https://www.buildingbenjamins.com"><img src="http://buildingbenjamins.com/images/website.png" alt="" width="26" height="26" /></a></td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="email-footer__address--inline">
                        <div>Building Benjamins<br />129 Summit Avenue, Summit, NJ 07901<br />Phone: 908-598-0909</div>
                    </div>
                    <div class="email-footer__permission--inline">&nbsp;</div>
                </div>
            </div>
            <!-- [if (mso)|(IE)]></td><td style="width: 200px;" valign="top" class="w160"><![endif]-->
            <div class="column narrow">&nbsp;</div>
            <!-- [if (mso)|(IE)]></td></tr></table><![endif]--></div>
    </div>
    <div class="layout one-col email-footer">
        <div class="layout__inner" lang="x-layout__inner"><!-- [if (mso)|(IE)]><table align="center" cellpadding="0" cellspacing="0"><tr class="layout-email-footer"><td style="width: 600px;" class="w560"><![endif]-->
            <div class="column">
                <div class="column__padding--inline">
                    <div class="email-footer__subscription--inline">Unsubscribe</div>
                </div>
            </div>
            <!-- [if (mso)|(IE)]></td></tr></table><![endif]--></div>
    </div>
    <div style="line-height: 40px; font-size: 40px;">&nbsp;</div>
</div>
<script src="js/jquery-1.7.2.min.js?h=C99A465920160826b" type="text/javascript"></script>
<script type="text/javascript">// <![CDATA[
$(function(){$('area,a').attr('target', '_blank');});
// ]]></script>