@charset "utf-8";
/* CSS Document */
/*------------------------------------------------------------
 * CUSTOM BACKGROUND STYLE BASED ON THEME OPTION PAGE CHOICES
 * ----------------------------------------------------------*/

.ui-growl {
    position:fixed;
    top: 40% !important;
    left: 37% !important;
}

.ui-panel .ui-panel-footer {
  border-top: 0px !important;
  background-color: transparent !important
}

.NBwidget {
    border: 0px;
}


.invNBgrid {
    border: 0px;
    border-collapse: collapse;
    border-spacing: 1px !important;
    vertical-align: middle;
}

.FormContent tbody,
.invNBgrid tbody {
     border: 0px;
}

.FormContent tbody tr,
.invNBgrid tbody tr {
    border: 0px;
}

.FormContent tbody tr td,
.invNBgrid tbody tr td {
    border: 0px;
}

.FormContent tr,
.invNBgrid tr {
    border-width: 0px !important;
    vertical-align: middle !important;
}

.FormContent td,
.invNBgrid td {
    border-width: 0px !important;
}

.invNBgrid .ui-panelgrid-header {
    text-align: center;
    padding: 1px 12px;
}

.invNBgrid .ui-panelgrid-footer {
    text-align: left;
    padding: 1px 5px;
}


.inv-widget-header  {
    text-align: left;
}


.invNBtab {
   border: 1px solid #cfd449 !important;
}

.InvButtonTab {
    border: 0px !important;;
}

.inv-widget-header {
    border: none !important;
    font-weight: bold;
    text-align: left !important;
}

.invHeader {

}

.invLabel {
    text-align: left;
}

.invHeaderCenter {
    text-align: center;
    border: none !important;
    font-weight: bold;
    background-color: #FFFFFF !important;

}

.invHeaderLeft {
    text-align: right;
}

.invInput {
}

.invRequired {
    text-align: left;
    color: #FF0000;
}

.invImportant {
    font-weight: bold;
    text-align: left;
    color: #009abb;
}

.invWarning {
    font-weight: bold;
    text-align: left;
    color: #FF0000;
}

.invDisclaimer {
    font-size: .75em !important;
    text-align: left;
}

.invSelectOneMenu {	
}

.ui-selectonemenu-panel .ui-selectonemenu-items-wrapper {
	background-color: #f5f5f5 !important;
}

.rotateText90 {
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); /* IE 9 */
    -webkit-transform:rotate(90deg); /* Safari and Chrome */
}

.invDataTable {
    font-size: .75em !important;
}

.invAdminTable {
    font-size: .75em !important;
    border: 1px !important;
    font-family: Courier, Arial, sans-serif !important;
}

.invRiskQuestion {
    text-align: left;
    font-weight: bold;
}


/* JQPlot Chart Override */
table.jqplot-table-legend, table.jqplot-cursor-legend {
    background-color: transparent !important;;
    border: 0px !important;
    font-size: 1em !important;
}

/* Used on Logon window for message */
.entry-content ul {
    list-style-type: none !important;
    padding: 0 0 0px 0px !important;
}

.simpleInputText {
    background-color: transparent;
    border: 0px none;
    border-bottom: solid 1px #465b65;
    font-size: 24px;
    width: 140px;
    text-align: center;
}

.ul-vertical-align {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.ul-vertical-align li {
    display: inline;
    float: left;
}

.Fix80Spinner {
    width: 80px !important;
}

.Fix80Spinner .ui-inputfield 
{
    width: 80px !important;
}
/*Prakash - Advisor*/
@media (max-width: 550px) {
	.PenelFilter > .ui-selectonebutton > .ui-button > .ui-button-text {
	padding: 5px!important;
}

.layout-portlets-box {
    padding: 0;
    width: 100%;
}

/* .ListOfAccountsTable > .ui-datatable-tablewrapper > table > thead > tr > th > .ui-column-title {
	font-size: 12px;
}

.ListOfAccountsTable > .ui-datatable-tablewrapper > table > thead > tr > th > .ui-column-title, 
.ListOfAccountsTable > .ui-datatable-tablewrapper > table > tbody > tr > td {
	font-size: 11.5px;
}
.ListOfAccountsTable > .ui-datatable-tablewrapper > table > thead > tr > th > .ui-sortable-column-icon {
	margin-left:0px!important;
	background-size: 75%!important;
} */
}

@media (max-width: 400px) {
	.HeaderTableBlock > h2 {
    text-align: center;
    float: none;
}
	
	.PenelFilter {
	width: 100%;
    text-align: center;
    margin-top: 35px;
	}
}

/**/
/*Prakash*/

.ui-messages-error-icon {
	margin-top: -4px!important;
}

.ListOfAccntsColWidth {
	width: 20%;
	text-align: left;
}

.ListOfAccntsColWidthBtn {
	width: 20%;
	text-align: center;
}

.HeaderTableBlock > h2{
	position: relative;
	top: 15px;
}

.HeaderTableBlock > .AdvisorFilter {
	/*text-align: center;*/
}

.StepsQuestionsFS {
	font-size: 16px!important;
	}

.selectOptionAlign {
	margin: 5px auto;
}

.num-text-align {
	text-align: right;
}

.ui-selectonemenu-label {
	font-size: 14px!important;
}

.TCM-UI-Dropdown > .ui-selectonemenu {
    margin-left: 10px;
}

.Wid32 {
	width: 32%;
}

.mobileFullWidth {
    display: inline-block;
}

.MarginBottom {
	margin-bottom: 15px;
}

.UsernameDashboard {
	padding: 9px 0;
}

@media (max-width: 360px) {
	.ResponsiveBtnFS > span {
	font-size: 11px!important;
	}
}

@media (min-width: 560px) and (max-width: 1075px) {
	.ListOfAccountsTable table tfoot tr td, .ListOfAccountsTable table thead tr th {
	    padding: 10px 0!important;
    font-size: 12px!important;
	}
	
	.ListOfAccountsTable table tbody tr td {
	font-size: 12px!important;
	}
	
	.ListOfAccountsTable table thead tr th .ui-sortable-column-icon {
	display: none!important;
	}
}

@media (min-width: 1200px) {
	.StepsQuestionsFSpg3 {
	margin-top: 70px!important;
	}
	
	.StepsQuestionsFSpg2 {
	margin: 130px 0!important;
	}
	
	.PieGraphPosition {
	margin: 50px 0!important;
	}
}

@media (max-width: 640px) {
	.DualBtnModeLeft, .DualBtnModeRight {
	width: 49%!important;
}
	
	.DualBtnModeLeft {
	float: left!important;
	}
	
	.DualBtnModeRight {
	float: right!important;
	}
	
	.ZeroPaddingBottom {
    padding-bottom: 0px!important;
}

.ZeroPaddingBottom > .ui-column-title {
    position: absolute;
}

.ZeroPaddingBottom > button {
    width: 100%;
}

.HideMobileMode {
	display:none!important;
}
}


@media (max-width: 960px) and (min-width: 640px) {
	.mobileFullWidth {
   /* display: inline;*/
}
	
	.UsernameDashboard {
	padding: 4px 0;
	}
	
	.UsernameDashboard > .Fright > h2 {
	font-size: 20px;
	}
	
	.TCM-UI-Dropdown {
    margin-left: 10px;
}
}

@media (max-width: 640px) and (min-width: 480px) {
	
	.StepsQuestionsFS {
	font-size: 15px!important;
	}
	
	
	
.ui-inputNum {
	padding: 7px 0px!important;
}

.ui-selectonemenu {
    margin-left: 0px;
}

.input_investwid1 > input {
	width: 20%!important;
}
	
.UsernameDashboard {
	padding: 5px 0;
	}
	
	.UsernameDashboard > .Fright > h2 {
	font-size: 16px;
	}
}

@media (max-width: 675px) and (min-width: 320px){
	.ui-selectonemenu-list-item {
	text-align: center!important;
	}
	
	.dropdownInputFullWidth > label {
	text-align: center!important;
	}
	
	.StepsQuestionsFS {
	font-size: 14px!important;
	    text-align: center;
	}
	
	.ui-selectonemenu {
    margin-left: 0px;
}
	
	.dropdownInputFullWidth {
    width: 100%!important;
    padding: 0px 0!important;
} 
	
	.mobileFullWidthinput {
	    width: 100%!important;
    padding: 10px 0!important;
	}
	
	.mobileFullWidthinput > input{
	    width: 100%!important;
    padding: 9px 0!important;
	}
	
.ui-inputNum {
	padding: 10px 0px!important;
}
	.mobileFullWidth {
	width:100%;
	    margin: 5px 0;
	}
	
.UsernameDashboard {
	padding: 5px 0;
	}
	
	.UsernameDashboard > .Fright > h2 {
	font-size: 16px;
	}	
}

@media (max-width: 640px) {
	.dashboardUsrColumnFloatRight {
	float: right;
}
}

@media (min-width:320px) and (max-width:500px) {
	.responsiveFullwidth {
	width: 100%!important;
	}
}

/*Fieldset DataTable Responsiveness*/
@media (min-width:320px) and (max-width:450px) {
	.ui-fieldset {
	padding: 0.6em 5px!important;
	}
}

/*Steps-tab-center-alligned
@media (max-width: 361px) and (min-width: 320px) {
	.tab_main > div {
	margin: 0 auto;
    width: 228px;
	}
	
	.tab_main {
	padding: 20px 0px 0px 0px!important;
	}
	
	a.ui-menuitem-link.ui-corner-all {
    background: #F6FAFC;
}
}

@media (max-width: 481px) and (min-width: 361px) {
	.tab_main > div {
	margin: 0 auto;
    width: 262px;
	}
	
	.tab_main {
	padding: 20px 0px 0px 0px!important;
	}
a.ui-menuitem-link.ui-corner-all {
    background: #F6FAFC;
}
}

@media (max-width: 561px) and (min-width: 481px) {
	.tab_main > div {
	margin: 0 auto;
    width: 274px;
	}
	
	.tab_main {
	padding: 20px 0px 0px 0px!important;
	}
}

@media (max-width: 640px) and (min-width: 561px) {
	.tab_main > div {
	margin: 0 auto;
    width: 366px;
	}
	
	.tab_main {
	padding: 20px 0px 0px 0px!important;
	}
	
	span.ui-steps-title {
    visibility: hidden;
}
}

@media (max-width: 729px) and (min-width: 641px) {
	.tab_main > div {
	margin: 0 auto;
    width: 426px;
	}
	
	.tab_main {
	padding: 20px 0px 0px 0px!important;
	}
	
	.ui-steps-title {
    visibility: hidden;
}
}

@media (max-width: 770px) and (min-width: 730px) {
	.tab_main > div {
	margin: 0 auto;
    width: 516px;
	}
	
	.tab_main {
	padding: 20px 0px 0px 0px!important;
	}
	.ui-steps-title {
    font-size: 12px!important;
}
}

@media (max-width: 960px) and (min-width: 771px) {
	.tab_main > div {
	margin: 0 auto;
    width: 546px;
	}
	
	.tab_main {
	padding: 20px 0px 0px 0px!important;
	}
}

@media (max-width: 999px) and (min-width: 961px) {
	.tab_main > div {
	margin: 0 auto;
    width: 666px;
	}
	
	.tab_main {
	padding: 20px 0px 0px 0px!important;
	}
}

@media (max-width: 1320px) and (min-width: 1000px) {
	.tab_main > div {
	margin: 0 auto;
    width: 636px;
	}
}

@media (min-width: 1321px) {
	.tab_main > div {
	margin: 0 auto;
    width: 846px;
	}
}
*/
