/*
* Custom Layout by Clients
* Designed by Prashant
* Supported Browsers > Google Chrome 3+ , Mozilla Firefox 3+ , Safari 3+ , Opera 3+ , Yandex Browser , Inernet Explorer 9+
* Copyright 2016 - Invessence */

/* Logo*/
#logo{height:70px; margin-top:16px;}

/* Gray Theme*/
.layoutBG.Geometry {
    background-image: url("#{resource['tcm:images/triangle-gray.svg']}");
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
}
.layoutBG {
    background-image: none;
}
.layoutBG #layout-topbar {
    background-color: #37474F;
}

.invInputText {
    background-color: transparent;
    border: 0px none;
    border-bottom: solid 1px #465b65;
    font-size: 24px;
    text-align: center;
}

.invInputText input {
    background-color: transparent;
    border: 0px none;
    /*border-bottom: solid 1px #465b65;*/
    font-size: 24px;
    text-align: center;
}

/*
.ui-widget input {
    background-color: transparent !important;
    border: 0px none !important;
    border-bottom: solid 1px #465b65 !important;
    font-size: 24px !important;
    text-align: center !important;
}
*/

.page5table {
    border-spacing: 0px;
}

.page5table tr {
    border-spacing: 0px;
}

.page5table td {
    border-spacing: 0px;
}

.topLayer {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    background-color: #eceff1;
    border-bottom: solid 2px #e0e0e0;
}

.ui-steps .ui-state-highlight .ui-steps-number {
    background-color: #00006A !important;
}

.ui-steps .ui-steps-title {
    width: 100px !important
}

.ui-steps .ui-state-disabled .ui-steps-number {
    background-color: #00D404 !important;
}


/* MEDIA QUERIES **************************************************************************************************************** */
/* Large desktop */
@media (min-width: 960px) and (max-width: 1110px) {
    #logo{height:70px;}
    .ui-steps .ui-steps-title {
        width: 70px !important
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 730px) and (max-width: 960px) {
    #logo{height:70px; margin-top:6px;}
    .ui-steps .ui-steps-title {
        width: 50px !important
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 640px) and (max-width: 730px) {
    #logo{height:70px; margin-top:6px;}
    .ui-steps .ui-steps-title {
        width: 30px !important
    }
}

/* Landscape phone to portrait tablet */
@media (min-width: 480px) and (max-width: 640px) {
    #logo{height:40px; margin-top:6px;}
    .ui-steps .ui-steps-title {
        width: 20px !important
    }
}

/* Portrait phones and down */
@media (min-width: 220px) and (max-width: 480px) {
    #logo{height:40px; margin-top:6px;}
    .ui-steps .ui-steps-title {
        display: none;

    }
    .invInputText {
        background-color: transparent;
        border: 0px none;
        border-bottom: solid 1px #465b65;
        font-size: 14px;
        text-align: center;}


    .invInputText input {font-size: 14px;}

}





