<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Email Template</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" media="screen"/>
</head>

<body>
<div class="wrapper">
    <div class="wrapper-body">
        <div class="body-inner">
            <div class="header-area">
                <div class="logo-area"><img src="https://gallery.mailchimp.com/0f45a5e735487b5750e2e1c89/images/072627fe-bc2f-416d-9de2-a8b86955081b.jpg" alt="Invessence" /></div>
                    <ul>
                        <li>
                            <a href="https://www.linkedin.com/company/invessence-inc-?utm_source=Investor+Scope&amp;utm_campaign=fc1f1353d4-Email_Marketing_Campaign_RIAs10_2_2014&amp;utm_medium=email&amp;utm_term=0_f958ff4f07-fc1f1353d4-" style="word-wrap: break-word" target="_blank">
                              <img alt="LinkedIn" src="http://cdn-images.mailchimp.com/icons/social-block-v2/color-linkedin-96.png" class="social-icon" width="48"/>
                           </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/Invessence?utm_source=Investor+Scope&amp;utm_campaign=fc1f1353d4-Email_Marketing_Campaign_RIAs10_2_2014&amp;utm_medium=email&amp;utm_term=0_f958ff4f07-fc1f1353d4-" style="word-wrap: break-word" target="_blank">
                                <img alt="Facebook" src="http://cdn-images.mailchimp.com/icons/social-block-v2/color-facebook-96.png" class="social-icon" width="48"/>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/Invessence?utm_source=Investor+Scope&amp;utm_campaign=fc1f1353d4-Email_Marketing_Campaign_RIAs10_2_2014&amp;utm_medium=email&amp;utm_term=0_f958ff4f07-fc1f1353d4-" style="word-wrap: break-word" target="_blank">
                                <img alt="Twitter" src="http://cdn-images.mailchimp.com/icons/social-block-v2/color-twitter-96.png" class="social-icon" width="48"/>
                            </a>
                        </li>
                        <li>
                            <a href="https://plus.google.com/108251068767119607829/about?utm_source=Investor+Scope&amp;utm_campaign=fc1f1353d4-Email_Marketing_Campaign_RIAs10_2_2014&amp;utm_medium=email&amp;utm_term=0_f958ff4f07-fc1f1353d4-" style="word-wrap: break-word" target="_blank">
                                <img alt="Google Plus" src="http://cdn-images.mailchimp.com/icons/social-block-v2/color-googleplus-96.png" class="social-icon" width="48"/>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
            <div class="body-left">
                <p>Dear Customer,<br/>
                    Welcome to our website. The registration process is almost complete. Please click here to confirm your email and set your password.<br/>
                    Sincerely,<br/>
                    John Doe </p>
            </div>
            <div class="body-right">Sidebar</div>
            <div class="clear"></div>
            <div class="footer-area">Footer</div>
        </div>
    </div>
</div>
</body>
</html>
