.ltamInputText {
    background-color: transparent;
    border: 0px none;
    border-bottom: solid 1px #465b65;
    font-size: 24px;
    text-align: center;
}

.ltamInputText input {
    background-color: transparent;
    border: 0px none;
    /*border-bottom: solid 1px #465b65;*/
    font-size: 24px;
    text-align: center;
}

/*
.ui-widget input {
    background-color: transparent !important;
    border: 0px none !important;
    border-bottom: solid 1px #465b65 !important;
    font-size: 24px !important;
    text-align: center !important;
}
*/

.page5table {
    border-spacing: 0px;
}

.page5table tr {
    border-spacing: 0px;
}

.page5table td {
    border-spacing: 0px;
}

.startover {
    background: transparent url("#{resource['ltam:images/start-over-button.jpg']}") no-repeat top;
    width: 160px;
    height: 60px;
    float: left;
    background-color: transparent !important;
    border: 0px none !important;
    border-bottom:  0px none !important;
}

.investnow {
    background: transparent url("#{resource['ltam:images/open-account-button.jpg']}") no-repeat top;
    width: 160px;
    height: 60px;
    float: right;
    background-color: transparent !important;
    border: 0px none !important;
    border-bottom:  0px none !important;
}

.ltamDownArrow {
    background-image: url("#{resource['ltam:images/riskDownArrow.svg']}");
    /*background-attachment: fixed;*/
    background-size: 45%;
    background-repeat: no-repeat;

}
.topLayer {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    background-color: #eceff1;
    border-bottom: solid 2px #e0e0e0;
}

.ui-steps .ui-state-highlight .ui-steps-number {
    background-color: #00006A !important;
}

.ui-steps .ui-steps-title {
    width: 100px !important
}

.ui-steps .ui-state-disabled .ui-steps-number {
    background-color: #00D404 !important;
}

@media (min-width: 960px) and (max-width: 1110px) {
    .ui-steps .ui-steps-title {
        width: 70px !important
    }
}

@media (min-width: 730px) and (max-width: 960px) {
    .ui-steps .ui-steps-title {
        width: 50px !important
    }
}

@media (min-width: 640px) and (max-width: 730px) {
    .ui-steps .ui-steps-title {
        width: 30px !important
    }
}

@media (min-width: 480px) and (max-width: 640px) {
    .ui-steps .ui-steps-title {
        width: 20px !important
    }
}

@media (min-width: 220px) and (max-width: 480px) {
    .ui-steps .ui-steps-title {
        display: none;
    }
}
