@charset "utf-8";
/* CSS Document */
/*------------------------------------------------------------
 * CUSTOM BACKGROUND STYLE BASED ON THEME OPTION PAGE CHOICES
 * ----------------------------------------------------------*/

.clientMenubar {
    overflow: hidden !important;
    border: none !important;
}

.clientWorkarea {
    border: none !important;
    background-color: #f5f5f5 !important;
}

.clientFooter {
    overflow: hidden !important;
    border: none !important;
    background-color: #2e2e2e;
    color: #dffdfd;
    padding: 5px 0 5px;
}

.clientFooterLink {
    color: #7EBEC5;
    text-decoration: underline;
    font-weight: bold;
}