/* GREGOIRE VELLA DESIGN AND LAYOUT
================================================== */

	/* Color text selection
==================================================== */
::selection {
	background: rgba(0, 0, 106, 0.84);
	color:white;
	}
::-moz-selection {
	background: rgba(0, 0, 106, 0.84);
	color:white;
}	

/* Header
================ */


header.no-bg-header{
	width:100%;
	height:90px;
	z-index: 2;
	position: relative;
	background:none;
	 -webkit-transition: all .5s ease;
  	-moz-transition: all .5s ease;
  	transition: all .5s ease;
}

header.bg-header {
	width:100%;
	height:90px;
	z-index: 2;
	position: fixed;
	top:0;
	background: #FFFFFF;
	-webkit-transition: all .5s ease;
  	-moz-transition: all .5s ease;
  	transition: all .5s ease;
  	    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.15);
}

header.bg-header {
  position: fixed !important;
  top: 0;
}

header img{
	margin:23px 0px;
}

header nav{
	float:right; 
	margin:20px 0px;
}

nav ul{
	display:inline;
	font-size:14px;
}

nav ul li{
	list-style:none;
	display:inline-block;
	padding:0px 0px 10px 35px;
}

.no-bg-header nav ul li a{
	float:right;
	padding:14px 0px 6px;
	color:#ffffff;
	text-transform:uppercase;
	font-size: 15px;
	font-family:"proxima_novasemibold", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif
}

.bg-header nav ul li a {
    color: #111063;
}

.bg-header nav ul li a:hover {
	color: #111063!important;
   opacity: 0.8;
}


.bg-header img.logo-colors {
    display: inline!important
}

.no-bg-header img.logo-colors {
    display: none;
}

.bg-header img.logo {
    display: none;
}

.active {
    border-bottom: 2px solid;
}


i.fa.fa-lock{
    padding-right: 5px;
}

.no-bg-header nav ul li a:hover{
	color:rgba(255, 255, 255, 0.75);
	background:none;
}

br.br-buttons{
	display: none;
}

.active{
	border-bottom: 2px solid;
}

/*Menu mobile*/
.right{display:none;}

#menu_mobile {
    background: #00006a;
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    z-index: 4;
    display: none;
}

#menu_mobile a{
	color:#ffffff;
	text-transform:uppercase;
	font-size: 16px;
	font-family:"proxima_novabold", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#menu_mobile a:hover{
	color:rgba(255, 255, 255, 0.75);
}

#menu_mobile li {
	margin: 35px;
}

#menu_mobile .buttons {
    padding-top: 35%;
    line-height: 80px;
    text-align: center;
}

#menu_mobile .buttons a, #menu_mobile .buttons a:visited {
    color:#FFF
}



.close_mobile {
    color: #000000;
    font-family: 'proxima_novasemibold';
}

.right.mobile a img {
    padding-right: 10px;
}

.close_mobile {
    float: right;
    padding: 35px 30px;
    font-size: 16px;
    opacity: 0.5;
}


.close_mobile img {
    padding-right: 5px;
}


/* Cover
================ */

.cover.overlay{
	width: 100%;
	height:100%;
	background-color: blue;
}
.cover.index {
	margin-top:-90px;
	margin-left:-1px;
	padding-top: 0px;
	text-align:center;
	background:url(../images/cover/slide-1.gif) no-repeat center 0px;
	width:101%;
	height:550px;
	-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;
}

.cover .caption{
	position:relative;
	top:100px;
}

.cover h1{
	letter-spacing: 1px;
	width: 600px;
	position: relative;
	left: 50%;
	margin-left: -300px;
	color:#ffffff;
	font-size:38px;
	text-align:center;
	padding-top:0px;
}

.cover p{
	color:#ffffff;
	font-size:20px;
	text-align:center;
	line-height: 30px;
	    margin: 0 0 35px 0;
}

.cover .discover{
	background: background: #52a3d5; /* Old browsers */background: -moz-linear-gradient(top, #52a3d5 0%, #1985c7 100%); /* FF3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#52a3d5), color-stop(100%,#1985c7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #52a3d5 0%,#1985c7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #52a3d5 0%,#1985c7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #52a3d5 0%,#1985c7 100%); /* IE10+ */
	background: linear-gradient(to bottom, #52a3d5 0%,#1985c7 100%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52a3d5', endColorstr='#1985c7',GradientType=0 ); /* IE6-9 */; 
	padding: 21px 44px;-webkit-border-radius: 50px;-moz-border-radius: 50px;-ms-border-radius: 50px;-o-border-radius: 50px;border-radius: 50px;
	-moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.35),inset rgba(255,255,255,0.3) 0 1px 0;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.35),inset rgba(255,255,255,0.3) 0 1px 0;
	-o-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.35),inset rgba(255,255,255,0.3) 0 1px 0;box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.35),inset rgba(255,255,255,0.3) 0 1px 0;filter:progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=180, Strength=3);
}

i.fa.fa-play{
    padding-right: 6px;
}


/* key features
================ */
.key_features{
	width:100%;
	background-color:#ffffff;
	border-bottom:1px solid #eeeeee;
}

.key_features .content{
	padding:120px 0px 120px
}

.key_features li.col{
	float: left;
	width: 27%;
    margin: 0px 60px 0px 0px;
}	

.key_features .right_text{
	width:640px;
	display:inline;
	float:left;
	margin:0px 0px 0px 60px;
}

.key_features h2{
	font-size:23px;
	color:#1F2228;
	margin:0px 0px 10px 0px;
}	

.key_features p{
    font-size: 17px;
    color: #787777;
    margin: 0px 0px 0px 0px;
    line-height: 28px;
}

.key_features .money_icon {
    display: block;
    height: 40px;
    width: 40px;
    background:url(../images/key_features/money_circle_icon.png) no-repeat;
    background-size: 40px 40px;
    margin: 0px 0px 6px 0px;
}

.key_features .tick_icon {
    display: block;
    height: 40px;
    width: 40px;
    background:url(../images/key_features/tick_circle_icon.png) no-repeat;
    background-size: 40px 40px;
    margin: 0px 0px 6px 0px;
}

.key_features .chart_icon {
    display: block;
    height: 40px;
    width: 40px;
    background:url(../images/key_features/chart_circle_icon.png) no-repeat;
    background-size: 40px 40px;
    margin: 0px 0px 6px 0px;
}

/* Portfolio
================ */
.portfolio{
	width:100%;
	background-color:#f8f9f9;
	border-bottom:1px solid #eeeeee;
}

.portfolio .content{
	padding:120px 0px 120px
}

.portfolio .right_text{
	width:640px;
	display:inline;
	float:left;
	margin:0px 0px 0px 60px;
}

.portfolio h2{
	font-size:23px;
	color:#1F2228;
	margin:0px 0px 10px 0px;
}	

.portfolio p{
	font-size:17px;
	color:#787777;
	margin:0px 0px 35px 0px;
	line-height:28px;
}


.portfolio .columns{
	position:relative;
	width: 450px;
	float:left;
	margin:20px 90px 0px 0px;
}

.portfolio img.visual{
	width: 450px;
}

.portfolio .right-col{
	margin:0px 0px 0px 0px;
}

/* Expert
================ */
.expert{
	width:100%;
	background-color:#00006a;
}

.expert .content{
	padding:120px 0px 120px
}


.expert h2{
	font-size:23px;
	color:#ffffff;
	margin:0px 0px 10px 0px;
}	

.expert p{
	font-size:17px;
	color:#ffffff;
	margin:0px 0px 35px 0px;
	line-height:28px;
}


.expert .columns{
	position:relative;
	width: 450px;
	float:left;
	margin:0px 90px 0px 0px;
}

.expert img.visual{
	width: 450px;
}

.expert .right-col{
	margin:0px 0px 0px 0px;
}

/* Security
================ */
.security{
	width:100%;
	background-color:#f8f9f9;
	border-bottom:1px solid #eeeeee;
}

.security .content{
	padding:120px 0px 120px
}

.security .right_text{
	width:640px;
	display:inline;
	float:left;
	margin:0px 0px 0px 60px;
}

.security h2{
	font-size:23px;
	color:#1F2228;
	margin:0px 0px 10px 0px;
}	

.security p{
	font-size:17px;
	color:#787777;
	margin:0px 0px 35px 0px;
	line-height:28px;
}


.security .columns{
	position:relative;
	width: 450px;
	float:left;
	margin:0px 90px 0px 0px;
}

.security img.visual{
	width: 450px;
}

.security .right-col{
	margin:35px 0px 0px 0px;
}

 /* Advisors
================ */
.advisors{
	width:100%;
	background-color:#00006a;
}

.advisors .content{
	padding:120px 0px 120px;
}

.advisors h2{
	font-size:23px;
	color:#ffffff;
	margin:0px 0px 15px 0px;
	text-align: center;

}

.green-line {
    width: 50px;
    height: 3px;
    background: #00bd1a;
    left: 50%;
    margin: 20px -25px 30px;
    position: relative;
}

.advisors p{
	color:#ffffff;
	font-size:17px;
	margin:0px 0px 50px 0px;
	line-height:28px;
	text-align: center;
}



/* Prefooter
================ */
.prefooter{
	width:100%;
	background:#ffffff;
}

.prefooter .content{
	color:#dcdcdc; 
	font-size:12px;
	font-weight:100;
	padding:60px 0px 60px 0;
	border-bottom:1px solid #e5e5e5;
}

.social .google{
	display:inline;
	float:left;
	width: 50px;
	height:50px;
	background: url(../images/social/google-@2x.png);
	background-size: 50px;
	background-position: center top;
}

.social .linkedin{
	display:inline;
	float:left;
	width: 50px;
	height:50px;
	background: url(../images/social/linkedin-@2x.png);
	background-size: 50px;
}

.social .twitter{
	display:inline;
	float:left;
	width: 50px;
	height:50px;
	background: url(../images/social/twitter-@2x.png);
	background-size: 50px;
}

.social .facebook{
	display:inline;
	float:left;
	width: 50px;
	height:50px;
	background: url(../images/social/facebook-@2x.png);
	background-size: 50px;
}

.social .link:hover{
	opacity:0.7;
}

.social{
	margin:0px auto 0px;
	width:170px
}

.social a {
	display:inline;
	float:left;
	padding-right: 16px;
}

.social img {
	display:inline;
	float:left;
}

.social img:hover{
	opacity:0.5
}

.copyright{
	text-align:center;
	margin:0 auto;
}

.social{
	margin:0px auto 0px;
	width:250px
}

.social a {
	display:inline;
	float:left;
	padding-right: 16px;
}

.social img {
	display:inline;
	float:left;
}



/* Legal
================ */
.legal{
	width:100%;
	background:#ffffff;

}

.legal .content{
	color:#dcdcdc; 
	font-size:12px;
	font-weight:100;
	padding:80px 0px 80px 0;
	border-bottom:1px solid #e5e5e5;
}

.legal p{
	text-align: center;
	color: #a9a8a8;
	font-size: 17px;
    line-height: 28px;
}

.legal a{
	color: #656565;
}

.legal a:hover{
	text-decoration: underline;
}



/* Footer
================ */
footer{
	width:100%;
	background:#ffffff;
}

footer .content{
	color:#a9a8a8; 
	font-size:14px;
	padding:30px 0px 30px 0;
	color:#787777;
}


.copyright{ 
	text-align: center;
	margin: 0 auto;
	font-size:14px;
}




/* Smooth effect
==================================================== */

.smooth_transition{
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}

/* Pop up video
==================================================== */

#popup-bg{
display: none;
}


#popup-bg{
	width: 100%;
  	min-height: 100%;
  	background-color: rgba(0, 0, 0, 0.85);
  	position: absolute;
  	z-index: 10;
}




#popup {
	width: 700px;
    position: fixed;
    left: 50%;
    margin: 120px -350px;
}

.interactive {
    width: 100%;
}

.interactive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.close{
  	width: 22px;
  	height: 22px;
  	padding-top: 0px;
  	background: url(../images/video/modal_close.png);
  	cursor: pointer;
  	position: absolute;
    top: -10px;
    right: -10px;
    z-index: 12;
}


/* FAQ
==================================================== */

.cover.faq {
	margin-top:-90px;
	margin-left:-1px;
	padding-top: 0px;
	text-align:center;
	background-color: #ffffff;
	width:101%;
	height:350px;
}

.cover.faq .caption {
    position: relative;
    top: 65px;
}

.faq nav ul li a {
    color: #111063;
}

.faq nav ul li a:hover {
	color: #111063;
    opacity: 0.8;
}

/*QUESTIONS
================ */
.questions{
	width:100%;
	background-color:#f8f9f9;
	border-bottom:1px solid #eeeeee;
}

.questions .content{
	padding:120px 0px 120px
}


.faq h1{
color:#1F2228
}

.questions h2{
	font-size: 23px;
    color: #1F2228;
    margin: 0px 0px 8px 0px;
    line-height: 32px;
}	

.questions p{
    font-size: 18px;
    color: #787777;
    margin: 0px 0px 0px 0px;
    line-height: 28px;
}

.questions a{
    color: #00bd1a;
}

/*HOME
================ */
.cover .caption.home{
top:65px;
}



