@charset "utf-8";
/* CSS Document */
/*------------------------------------------------------------
 * CUSTOM BACKGROUND STYLE BASED ON THEME OPTION PAGE CHOICES
 * ----------------------------------------------------------*/
/* Logo*/



/*---------------------------- General StyleSheet ---------------------------------------*/

.ui-growl {
    position:fixed;
    top: 40% !important;
    left: 37% !important;
}

.NBwidget {
    border: 0px;
}

.invDialog {
    background-color: #fff;
    top: 100px;
}

.invNBgrid {
    border: 0px;
    border-collapse: collapse;
    border-spacing: 1px !important;
}

.invNBgrid tr {
    border-width: 0px !important;
    border: 0px;
}

.invNBgrid td {
    border-width: 0px !important;
    border: 0px;
}

.invNBgrid .ui-panelgrid-header {
    text-align: center;
    padding: 1px 12px;
}

.invNBgrid .ui-panelgrid-footer {
    text-align: left;
    padding: 1px 5px;
}


.inv-widget-header  {
    text-align: left;
}


.invNBtab {
    border: 1px solid #d9d6c4; !important;
}

.InvButtonTab {
    border: 0px !important;;
}

.inv-widget-header {
    border: none !important;
    font-weight: bold;
    text-align: left !important;
}

.invHeader {

}

.invLabel {
    text-align: left;
}

.invInput {
}

.invInputLogon {
    font-size: 18px !important;
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif !important;
}

.invTitleSection {
    border: none !important;
    background-color: #009abb !important;

}

.invInfoTitle {
    text-align: center;
    border: none !important;
    font-weight: bold;
    background-color: #FFFFFF !important;

}

.invAlertTitle {
    text-align: center;
    border: none !important;
    font-weight: bold;
    background-color: #CC0000 !important;

}

.invWarningTitle {
    text-align: center;
    border: none !important;
    font-weight: bold;
    background-color: #FF9900 !important;
}

.invHeaderCenter {
    text-align: center;
    border: none !important;
    font-weight: bold;
    background-color: #FFFFFF !important;

}

.invHeaderLeft {
    text-align: right;
}


.invRequired {
    text-align: left;
    color: #FF0000;
}

.invImportant {
    font-weight: bold;
    text-align: left;
    color: #009abb;
}

.invWarning {
    font-weight: bold;
    text-align: left;
    color: #FF0000;
}

.invDisclaimer {
    font-size: .75em !important;
    text-align: left;
}

.invSelectOneMenu {
}

.rotateText90 {
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); /* IE 9 */
    -webkit-transform:rotate(90deg); /* Safari and Chrome */
}

.invDataTable {
    font-size: .80em !important;
    border-width: 1px !important;
}

.invDataTable td {
    border: 1px solid #d9d6c4; !important;
}

.invDataTable tr {
    border: 1px solid #d9d6c4; !important;
}

.invDataTable td {
    border: 1px solid #d9d6c4; !important;
}

.invAllocTable {
    font-size: 1em !important;
    border-width: 1px !important;
}

.invAllocTable th {
    font-size: 1em !important;
    font-weigh: bold !important;
}

.invAllocTable tfoot {
    font-size: 1em !important;
    font-weigh: bold !important;
}

.invAllocTable td {
    border: 1px solid #d9d6c4; !important;
}

.invAllocTable tr {
    border: 1px solid #d9d6c4; !important;
}

.invAllocTable td {
    border: 1px solid #d9d6c4; !important;
}

.invTradeTable {
    font-size: .80em !important;
    border-width: 1px !important;
}

.invTradeTable tr {
    border: 1px solid #d9d6c4; !important;
}

.invTradeTable td {
    border: 1px solid #d9d6c4; !important;
}

.invTradeTable .ui-datatable-header {
    text-align: right !important;
}

.invAdminTable {
    font-size: .75em !important;
    border: 1px !important;
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif !important;
}

.invRiskQuestion {
    text-align: left;
    font-weight: bold;
}


/* Used on Logon window for message */
.entry-content ul {
    list-style-type: none !important;
    padding: 0 0 0px 0px !important;
}

.ui-datatable .dtRAlign {
    text-align: right !important;
}

.ui-datatable .inv_filters {
   width: 100% !important;
   margin: 0px !important;
   background: #fff !important;
}

.footerLink {
    color: #ffffff !important;
    text-decoration: underline;
    font-weight: bold;
}

.inv-menu {
    background: #fff !important;
}

.ui-menu .ui-menu-list .ui-menuitem{
    background: #fff !important;
}

.ui-menu .ui-menu-parent .ui-menu-child{
    background: #fff !important;
}


.data-entry p input, .data-entry p textarea {
    background-color: #fff !important;
    border: none !important;
    width: 100% !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
    font-size: 18px;
    color: #666 !important;
    padding: 16px !important;
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.simpleInputText {
     background-color: transparent;
     border: 0px none;
     border-bottom: solid 1px #465b65;
     font-size: 24px;
     width: 140px;
     text-align: center;
 }

.ul-vertical-align {
     list-style-type: none;
     margin: 0;
     padding: 0;
 }

.ul-vertical-align li {
    display: inline;
    float: left;
}

/*---------------------------- Media based StyleSheet ---------------------------------------*/
